%table.downloads
  %thead
    %tr
      %th{colspan: 2}
      %th H12CORE
      %th H12INVIVO
      %th H12INVITRO
      %th H12RSNP
  %tbody
    %tr
      %td.row-hdr{colspan: 2} Complete model annotation (including gene id mapping)
      - collections.each do |collection|
        %td= link_to "#{collection}_annotation.jsonl", bundle_url.call("#{collection}/#{collection}_annotation.jsonl")

    %tr
      %td.row-hdr
        PWM
      %td.row-hdr
        One file per matrix
        = help_icon(title: 'MACRO-PERFECTOS-APE compatible format')
      - collections.each do |collection|
        %td= link_to "#{collection}_pwm.tar.gz", bundle_url.call("#{collection}/#{collection}_pwm.tar.gz")

    %tr
      %td.row-hdr
        PCM
      %td.row-hdr
        One file per matrix
        = help_icon(title: 'MACRO-PERFECTOS-APE compatible format')
      - collections.each do |collection|
        %td= link_to "#{collection}_pcm.tar.gz", bundle_url.call("#{collection}/#{collection}_pcm.tar.gz")

    %tr
      %td.row-hdr
        PFM
      %td.row-hdr
        One file per matrix
        = help_icon(title: 'MACRO-PERFECTOS-APE compatible format')
      - collections.each do |collection|
        %td= link_to "#{collection}_pfm.tar.gz", bundle_url.call("#{collection}/#{collection}_pfm.tar.gz")

    / %tr
    /   %td.row-hdr{colspan: 2} Alignments
    /   %td= link_to 'words_HUMAN_mono.tar.gz', bundle_url.call("H12CORE/words_HUMAN_mono.tar.gz")
    /   %td= link_to 'words_MOUSE_mono.tar.gz', bundle_url.call("H12CORE/words_MOUSE_mono.tar.gz")
    / %tr
    /   %td.row-hdr{colspan: 2} Standard thresholds
    /   %td= link_to 'standard_thresholds_HUMAN_mono.txt', bundle_url.call("H12CORE/standard_thresholds_HUMAN_mono.txt")
    /   %td= link_to 'standard_thresholds_MOUSE_mono.txt', bundle_url.call("H12CORE/standard_thresholds_MOUSE_mono.txt")
    %tr
      %td.row-hdr{colspan: 2}
        Threshold to P-value map
        = help_icon(title: 'Precalculated thresholds to be utilized by PERFECTOS-APE (genome-wide dinucleotide frequencies were used for P-value estimation)')
      - collections.each do |collection|
        %td= link_to "#{collection}_thresholds.tar.gz", bundle_url.call("#{collection}/#{collection}_thresholds.tar.gz")
