%table.downloads
  %thead
    %tr
      %th{rowspan: 2, colspan: 2}
      %th{colspan: 2} Human
      %th{colspan: 2} Mouse
    %tr
      %th Mononucleotide
      %th Dinucleotide
      %th Mononucleotide
      %th Dinucleotide
  %tbody
    %tr
      %td.row-hdr{rowspan: 2}
        PWM
        = help_icon(title: 'See technical notes (click to open)', href: technical_notes_url)
      %td.row-hdr
        One file per matrix
        = help_icon(title: 'MACRO-PERFECTOS-APE compatible format')
      %td= link_to 'pwm_HUMAN_mono.tar.gz', bundle_url.call("HUMAN/mono/HOCOMOCOv#{hocomoco_version_number}_pwm_HUMAN_mono.tar.gz")
      %td= link_to 'pwm_HUMAN_di.tar.gz',   bundle_url.call("HUMAN/di/HOCOMOCOv#{hocomoco_version_number}_pwm_HUMAN_di.tar.gz")
      %td= link_to 'pwm_MOUSE_mono.tar.gz', bundle_url.call("MOUSE/mono/HOCOMOCOv#{hocomoco_version_number}_pwm_MOUSE_mono.tar.gz")
      %td= link_to 'pwm_MOUSE_di.tar.gz',   bundle_url.call("MOUSE/di/HOCOMOCOv#{hocomoco_version_number}_pwm_MOUSE_di.tar.gz")
    %tr
      %td.row-hdr Flat file
      %td= link_to 'pwms_HUMAN_mono.txt', bundle_url.call("HUMAN/mono/HOCOMOCOv#{hocomoco_version_number}_pwms_HUMAN_mono.txt")
      %td= link_to 'pwms_HUMAN_di.txt',   bundle_url.call("HUMAN/di/HOCOMOCOv#{hocomoco_version_number}_pwms_HUMAN_di.txt")
      %td= link_to 'pwms_MOUSE_mono.txt', bundle_url.call("MOUSE/mono/HOCOMOCOv#{hocomoco_version_number}_pwms_MOUSE_mono.txt")
      %td= link_to 'pwms_MOUSE_di.txt',   bundle_url.call("MOUSE/di/HOCOMOCOv#{hocomoco_version_number}_pwms_MOUSE_di.txt")

    %tr
      %td.row-hdr{rowspan: 2} PCM
      %td.row-hdr
        One file per matrix
        = help_icon(title: 'MACRO-PERFECTOS-APE compatible format')
      %td= link_to 'pcm_HUMAN_mono.tar.gz', bundle_url.call("HUMAN/mono/HOCOMOCOv#{hocomoco_version_number}_pcm_HUMAN_mono.tar.gz")
      %td= link_to 'pcm_HUMAN_di.tar.gz',   bundle_url.call("HUMAN/di/HOCOMOCOv#{hocomoco_version_number}_pcm_HUMAN_di.tar.gz")
      %td= link_to 'pcm_MOUSE_mono.tar.gz', bundle_url.call("MOUSE/mono/HOCOMOCOv#{hocomoco_version_number}_pcm_MOUSE_mono.tar.gz")
      %td= link_to 'pcm_MOUSE_di.tar.gz',   bundle_url.call("MOUSE/di/HOCOMOCOv#{hocomoco_version_number}_pcm_MOUSE_di.tar.gz")
    %tr
      %td.row-hdr Flat file
      %td= link_to 'pcms_HUMAN_mono.txt', bundle_url.call("HUMAN/mono/HOCOMOCOv#{hocomoco_version_number}_pcms_HUMAN_mono.txt")
      %td= link_to 'pcms_HUMAN_di.txt',   bundle_url.call("HUMAN/di/HOCOMOCOv#{hocomoco_version_number}_pcms_HUMAN_di.txt")
      %td= link_to 'pcms_MOUSE_mono.txt', bundle_url.call("MOUSE/mono/HOCOMOCOv#{hocomoco_version_number}_pcms_MOUSE_mono.txt")
      %td= link_to 'pcms_MOUSE_di.txt',   bundle_url.call("MOUSE/di/HOCOMOCOv#{hocomoco_version_number}_pcms_MOUSE_di.txt")

    %tr
      %td.row-hdr{colspan: 2} Alignments
      %td= link_to 'words_HUMAN_mono.tar.gz', bundle_url.call("HUMAN/mono/HOCOMOCOv#{hocomoco_version_number}_words_HUMAN_mono.tar.gz")
      %td= link_to 'words_HUMAN_di.tar.gz',   bundle_url.call("HUMAN/di/HOCOMOCOv#{hocomoco_version_number}_words_HUMAN_di.tar.gz")
      %td= link_to 'words_MOUSE_mono.tar.gz', bundle_url.call("MOUSE/mono/HOCOMOCOv#{hocomoco_version_number}_words_MOUSE_mono.tar.gz")
      %td= link_to 'words_MOUSE_di.tar.gz',   bundle_url.call("MOUSE/di/HOCOMOCOv#{hocomoco_version_number}_words_MOUSE_di.tar.gz")
    %tr
      %td.row-hdr{colspan: 2} Standard thresholds
      %td= link_to 'standard_thresholds_HUMAN_mono.txt', bundle_url.call("HUMAN/mono/HOCOMOCOv#{hocomoco_version_number}_standard_thresholds_HUMAN_mono.txt")
      %td= link_to 'standard_thresholds_HUMAN_di.txt',   bundle_url.call("HUMAN/di/HOCOMOCOv#{hocomoco_version_number}_standard_thresholds_HUMAN_di.txt")
      %td= link_to 'standard_thresholds_MOUSE_mono.txt', bundle_url.call("MOUSE/mono/HOCOMOCOv#{hocomoco_version_number}_standard_thresholds_MOUSE_mono.txt")
      %td= link_to 'standard_thresholds_MOUSE_di.txt',   bundle_url.call("MOUSE/di/HOCOMOCOv#{hocomoco_version_number}_standard_thresholds_MOUSE_di.txt")
    %tr
      %td.row-hdr{colspan: 2}
        Threshold to P-value map
        = help_icon(title: 'Precalculated thresholds to be utilized by PERFECTOS-APE (genome-wide dinucleotide frequencies were used for P-value estimation)')
      %td= link_to 'thresholds_HUMAN_mono.tar.gz', bundle_url.call("HUMAN/mono/HOCOMOCOv#{hocomoco_version_number}_thresholds_HUMAN_mono.tar.gz")
      %td= link_to 'thresholds_HUMAN_di.tar.gz',   bundle_url.call("HUMAN/di/HOCOMOCOv#{hocomoco_version_number}_thresholds_HUMAN_di.tar.gz")
      %td= link_to 'thresholds_MOUSE_mono.tar.gz', bundle_url.call("MOUSE/mono/HOCOMOCOv#{hocomoco_version_number}_thresholds_MOUSE_mono.tar.gz")
      %td= link_to 'thresholds_MOUSE_di.tar.gz',   bundle_url.call("MOUSE/di/HOCOMOCOv#{hocomoco_version_number}_thresholds_MOUSE_di.tar.gz")
    %tr
      %td.row-hdr{colspan: 2} Sequence LOGOs
      %td= link_to 'logo_HUMAN_mono.tar.gz', bundle_url.call("HUMAN/mono/HOCOMOCOv#{hocomoco_version_number}_logo_HUMAN_mono.tar.gz")
      %td= link_to 'logo_HUMAN_di.tar.gz',   bundle_url.call("HUMAN/di/HOCOMOCOv#{hocomoco_version_number}_logo_HUMAN_di.tar.gz")
      %td= link_to 'logo_MOUSE_mono.tar.gz', bundle_url.call("MOUSE/mono/HOCOMOCOv#{hocomoco_version_number}_logo_MOUSE_mono.tar.gz")
      %td= link_to 'logo_MOUSE_di.tar.gz',   bundle_url.call("MOUSE/di/HOCOMOCOv#{hocomoco_version_number}_logo_MOUSE_di.tar.gz")

    %tr
      %td.row-hdr{rowspan: 4} Matrices in other formats
      %td.row-hdr JASPAR
      %td= link_to "H#{hocomoco_version_number}_HUMAN_mono_jaspar_format.txt", bundle_url.call("HUMAN/mono/HOCOMOCOv#{hocomoco_version_number}_HUMAN_mono_jaspar_format.txt")
      %td
      %td= link_to "H#{hocomoco_version_number}_MOUSE_mono_jaspar_format.txt", bundle_url.call("MOUSE/mono/HOCOMOCOv#{hocomoco_version_number}_MOUSE_mono_jaspar_format.txt")
      %td
    %tr
      %td.row-hdr MEME
      %td= link_to "H#{hocomoco_version_number}_HUMAN_mono_meme_format.meme", bundle_url.call("HUMAN/mono/HOCOMOCOv#{hocomoco_version_number}_HUMAN_mono_meme_format.meme")
      %td
      %td= link_to "H#{hocomoco_version_number}_MOUSE_mono_meme_format.meme", bundle_url.call("MOUSE/mono/HOCOMOCOv#{hocomoco_version_number}_MOUSE_mono_meme_format.meme")
      %td
    %tr
      %td.row-hdr TRANSFAC
      %td= link_to "H#{hocomoco_version_number}_HUMAN_mono_transfac_format.txt", bundle_url.call("HUMAN/mono/HOCOMOCOv#{hocomoco_version_number}_HUMAN_mono_transfac_format.txt")
      %td
      %td= link_to "H#{hocomoco_version_number}_MOUSE_mono_transfac_format.txt", bundle_url.call("MOUSE/mono/HOCOMOCOv#{hocomoco_version_number}_MOUSE_mono_transfac_format.txt")
      %td
    %tr
      %td.row-hdr
        HOMER
        = help_icon(title: 'Matrices in HOMER format include score thresholds. We provide the collection with threshold levels corresponding to P-value of 0.001, 0.0005 and 0.0001')
      %td
        - ['0.001', '0.0005', '0.0001'].each do |pvalue|
          .homer_pvalue= link_to "P-value #{pvalue}", bundle_url.call("HUMAN/mono/HOCOMOCOv#{hocomoco_version_number}_HUMAN_mono_homer_format_#{pvalue}.motif")
      %td
      %td
        - ['0.001', '0.0005', '0.0001'].each do |pvalue|
          .homer_pvalue= link_to "P-value #{pvalue}", bundle_url.call("MOUSE/mono/HOCOMOCOv#{hocomoco_version_number}_MOUSE_mono_homer_format_#{pvalue}.motif")
      %td
