%table.table-responsive-lg.downloads
  %thead
    %tr
      %th{colspan: 2}
      - collections.each do |collection|
        %th collection
  %tbody
    %tr
      %th.row-hdr{colspan: 2} Number of motifs
      - collections.each do |collection|
        %td{class: collection}
          = Motif.in_bundle(collection: collection).size
          %br
          (MOUSE subset: #{ Motif.in_bundle(collection: collection).count{|motif| motif.applicable_for?('MOUSE') } })
    %tr
      %th.row-hdr{rowspan: 2} Complete model annotation<br>(including gene id mapping)
      %th.row-hdr.essential All motifs
      - collections.each do |collection|
        %td{class: collection}= link_to "#{collection}_annotation.jsonl", bundle_url.call("#{collection}/#{collection}_annotation.jsonl")
    %tr
      %th.row-hdr MOUSE subset
      - collections.each do |collection|
        %td{class: collection}= link_to "#{collection}-MOUSE_annotation.jsonl", bundle_url.call("#{collection}/#{collection}-MOUSE_annotation.jsonl")

    %tr.essential
      %th.row-hdr{rowspan: 2}
        PWM
      %th.row-hdr
        One file per matrix
        = help_icon(title: 'MACRO-PERFECTOS-APE compatible format')
      - collections.each do |collection|
        %td{class: collection}= link_to "#{collection}_pwm.tar.gz", bundle_url.call("#{collection}/#{collection}_pwm.tar.gz")
    %tr
      %th.row-hdr
        Flat file
      - collections.each do |collection|
        %td{class: collection}= link_to "#{collection}_pwms.txt", bundle_url.call("#{collection}/formatted_motifs/#{collection}_pwms.txt")

    %tr.essential
      %th.row-hdr{rowspan: 2}
        PCM
      %th.row-hdr
        One file per matrix
        = help_icon(title: 'MACRO-PERFECTOS-APE compatible format')
      - collections.each do |collection|
        %td{class: collection}= link_to "#{collection}_pcm.tar.gz", bundle_url.call("#{collection}/#{collection}_pcm.tar.gz")
    %tr
      %th.row-hdr
        Flat file
      - collections.each do |collection|
        %td{class: collection}= link_to "#{collection}_pcms.txt", bundle_url.call("#{collection}/formatted_motifs/#{collection}_pcms.txt")

    %tr
      %th.row-hdr{rowspan: 2}
        PFM
      %th.row-hdr
        One file per matrix
        = help_icon(title: 'MACRO-PERFECTOS-APE compatible format')
      - collections.each do |collection|
        %td{class: collection}= link_to "#{collection}_pfm.tar.gz", bundle_url.call("#{collection}/#{collection}_pfm.tar.gz")
    %tr
      %th.row-hdr
        Flat file
      - collections.each do |collection|
        %td{class: collection}= link_to "#{collection}_pfms.txt", bundle_url.call("#{collection}/formatted_motifs/#{collection}_pfms.txt")

    %tr.essential
      %th.row-hdr{colspan: 2}
        Threshold to P-value map
        = help_icon(title: 'Precalculated thresholds to be utilized by PERFECTOS-APE (uniform nucleotide frequencies were used for P-value estimation)')
      - collections.each do |collection|
        %td{class: collection}= link_to "#{collection}_thresholds.tar.gz", bundle_url.call("#{collection}/#{collection}_thresholds.tar.gz")

    %tr
      %th.row-hdr{rowspan: 4} Matrices in other formats
      %th.row-hdr JASPAR
      - collections.each do |collection|
        %td{class: collection}= link_to "#{collection}_jaspar_format.txt", bundle_url.call("#{collection}/formatted_motifs/#{collection}_jaspar_format.txt")
    %tr
      %th.row-hdr MEME
      - collections.each do |collection|
        %td{class: collection}= link_to "#{collection}_meme_format.meme", bundle_url.call("#{collection}/formatted_motifs/#{collection}_meme_format.meme")
    %tr
      %th.row-hdr TRANSFAC
      - collections.each do |collection|
        %td{class: collection}= link_to "#{collection}_transfac_format.txt", bundle_url.call("#{collection}/formatted_motifs/#{collection}_transfac_format.txt")
    %tr
      %th.row-hdr
        HOMER
        = help_icon(title: 'Matrices in HOMER format include score thresholds. We provide the collection with threshold levels corresponding to P-value of 0.001, 0.0005 and 0.0001')
      - collections.each do |collection|
        %td{class: collection}
          - ['0.001', '0.0005', '0.0001'].each do |pvalue|
            .homer_pvalue= link_to "P-value #{pvalue}", bundle_url.call("#{collection}/formatted_motifs/#{collection}_homer_format_#{pvalue}.motif")
