.row
  .col-1
  .col-8
    .pageheader Downloads
    %h2 Tools
    %ul
      %li
        MoLoTool - #{link_to 'web interface', 'https://molotool.autosome.org'} for motif finding.
      %li
        SPRY-SARUS tool for motif finding (Java): #{link_to 'jar', 'https://raw.githubusercontent.com/autosome-ru/sarus/master/releases/sarus-2.0.1.jar'}, #{link_to 'readme', 'https://github.com/autosome-ru/sarus'}
      %li
        MACRO-APE tool for motif comparison, P-value and threshold estimation: #{link_to 'jar', 'https://opera.autosome.org/downloads/ape-3.0.2.jar'}, #{link_to 'manual', 'https://opera.autosome.org/downloads/MACRO-PERFECTOS-APE_manual.pdf'}, #{link_to 'website', ENV['MACROAPE_URL'] }
      %li
        PERFECTOS-APE tool for functional annotation of sequence variants overlappint TFBS: #{link_to 'jar', 'https://opera.autosome.org/downloads/ape-3.0.2.jar'}, #{link_to 'manual', 'https://opera.autosome.org/downloads/MACRO-PERFECTOS-APE_manual.pdf'}, #{link_to 'website', ENV['PERFECTOSAPE_URL']}

    %h2 Sequence data
    %ul
      %li ChIP-Seq peaks used for motif discovery, #{link_to 'MultiFASTA/tgz', 'https://yadi.sk/d/m-g7LPkF3NaDnY'} (~490Mb).
      %li ChIP-Seq peaks used for benchmarking, #{link_to 'MultiFASTA/tgz', 'https://yadi.sk/d/zj9gAa6p3NaDmZ'} (~490Mb).

    %h2 Collection preparation
    %ul
      %li Motif quality assessment scripts, #{link_to 'github', 'https://github.com/VorontsovIE/diHOCOMOCO'}.
  .col-3
    .contacts
      %b Contacts
      %ul
        %li Technical questions and suggestions should be addressed to #{link_to 'Ilya Vorontsov', 'mailto:vorontsov.i.e/at/gmail/dot/com'} and #{link_to 'Ivan Kulakovskiy', 'mailto:ivan.kulakovskiy/at/gmail/dot/com'}.
        %li General questions should be addressed to #{link_to 'Ivan Kulakovskiy', 'mailto:ivan.kulakovskiy/at/gmail/dot/com'}, #{link_to 'Yulia Medvedeva', 'mailto:ju.medvedeva/at/gmail/dot/com'} or #{link_to 'Vsevolod Makeev', 'mailto:vsevolod.makeev/at/gmail/dot/com'}.
.row
  .col-1
  .col-7
    .cite
      %b Citation:
      .title
        = link_to 'https://academic.oup.com/nar/article/doi/10.1093/nar/gkx1106/4616875' do
          HOCOMOCO: towards a complete collection of transcription factor binding models for human and mouse via large-scale ChIP-Seq analysis
      .authors
        Ivan V. Kulakovskiy; Ilya E. Vorontsov; Ivan S. Yevshin; Ruslan N. Sharipov; Alla D. Fedorova; Eugene I. Rumynskiy; Yulia A. Medvedeva; Arturo Magana-Mora; 
        Vladimir B. Bajic; Dmitry A. Papatsenko; Fedor A. Kolpakov; Vsevolod J. Makeev
      .journal Nucl. Acids Res., Database issue, gkx1106 (11 November 2017)
      .doi doi: 10.1093/nar/gkx1106

    .license
      %b License:
      HOCOMOCO motif collection is distributed under #{link_to 'WTFPL', 'https://en.wikipedia.org/wiki/WTFPL'}.
      If you prefer more standard licenses, feel free to treat WTFPL as CC-BY.

.row
  .col-12
    %hr
    %h4
      TFBS models (#{link_to 'Technical notes', hocomoco11_url('technical_notes.txt'), class: 'tech_notes'})

    %h1.downloads_header CORE COLLECTION: primary binding models of ABC quality
    = render partial: 'download_table_v10_11', locals: {bundle_url: ->(path){ hocomoco11_bundle_url("core/#{path}") }, technical_notes_url: hocomoco11_url('technical_notes.txt'), hocomoco_prefix: 'HOCOMOCOv11_core_', hocomoco_version_number: 11, skip_dinucleotide: false }

.row
  .col-12
    %hr
    %h1.downloads_header
      FULL COLLECTION: primary and alternative binding models
      %sup>< *
    %p *Available dinucleotide models are fully represented by the CORE dinucleotide collection (see above).
    = render partial: 'download_table_v10_11', locals: {bundle_url: ->(path){ hocomoco11_bundle_url("full/#{path}") }, technical_notes_url: hocomoco11_url('technical_notes.txt'), hocomoco_prefix: 'HOCOMOCOv11_full_', hocomoco_version_number: 11, skip_dinucleotide: true }
.row
  .col-12
    %hr
    %h4 See also:
    .curation_log= link_to 'Curation log', hocomoco11_url('curation.log')
    .retracted_models= link_to 'Retracted models', hocomoco11_bundle_url('retracted.tar.gz')

- content_for(:title) do
  HOCOMOCO-v11 Downloads - HOmo sapiens COmprehensive MOdel COllection
