.row
  .col-md-1
  .col-md-8
    .pageheader Downloads
    .zenodo-data
      %b Data:
      Complete release data including the original motifs are available at #{link_to 'Zenodo', 'https://zenodo.org/records/10012938'}.
    .tools
      %b Tools:
      %ul
        %li
          MoLoTool - #{link_to 'web interface', 'https://molotool.autosome.org'} for motif finding.
        %li
          SPRY-SARUS tool for motif finding (Java): #{link_to 'jar', 'https://raw.githubusercontent.com/autosome-ru/sarus/master/releases/sarus-2.0.1.jar'}, #{link_to 'readme', 'https://github.com/autosome-ru/sarus'}
        %li
          MACRO-APE tool for motif comparison, P-value and threshold estimation: #{link_to 'jar', 'https://opera.autosome.org/downloads/ape-3.0.2.jar'}, #{link_to 'manual', 'https://opera.autosome.org/downloads/MACRO-PERFECTOS-APE_manual.pdf'}, #{link_to 'website', ENV['MACROAPE_URL'] }
        %li
          PERFECTOS-APE tool for functional annotation of sequence variants overlappint TFBS: #{link_to 'jar', 'https://opera.autosome.org/downloads/ape-3.0.2.jar'}, #{link_to 'manual', 'https://opera.autosome.org/downloads/MACRO-PERFECTOS-APE_manual.pdf'}, #{link_to 'website', ENV['PERFECTOSAPE_URL']}

  .col-md-3
    .contacts
      %b Contacts
      %ul
        %li Technical questions and suggestions should be addressed to #{link_to 'Ilya Vorontsov', 'mailto:vorontsov.i.e/at/gmail/dot/com'} and #{link_to 'Ivan Kulakovskiy', 'mailto:ivan.kulakovskiy/at/gmail/dot/com'}.
        %li General questions should be addressed to #{link_to 'Ivan Kulakovskiy', 'mailto:ivan.kulakovskiy/at/gmail/dot/com'}, #{link_to 'Yulia Medvedeva', 'mailto:ju.medvedeva/at/gmail/dot/com'} or #{link_to 'Vsevolod Makeev', 'mailto:vsevolod.makeev/at/gmail/dot/com'}.
.row
  .col-md-1
  .col-md-7
    .cite
      %b Citation:
      .title
        = link_to 'https://academic.oup.com/nar/article/doi/10.1093/nar/gkx1106/4616875' do
          HOCOMOCO: towards a complete collection of transcription factor binding models for human and mouse via large-scale ChIP-Seq analysis
      .authors
        Ivan V. Kulakovskiy; Ilya E. Vorontsov; Ivan S. Yevshin; Ruslan N. Sharipov; Alla D. Fedorova; Eugene I. Rumynskiy; Yulia A. Medvedeva; Arturo Magana-Mora; 
        Vladimir B. Bajic; Dmitry A. Papatsenko; Fedor A. Kolpakov; Vsevolod J. Makeev
      .journal Nucl. Acids Res., Database issue, gkx1106 (11 November 2017)
      .doi doi: 10.1093/nar/gkx1106

    .license
      %b License:
      HOCOMOCO motif collection is distributed under #{link_to 'WTFPL', 'https://en.wikipedia.org/wiki/WTFPL'}.
      If you prefer more standard licenses, feel free to treat WTFPL as CC-BY.


.row
  .col-md-12
    %hr
    %h1.downloads_header HOCOMOCO v12 subcollections
    = render partial: 'download_table_v12', locals: {bundle_url: ->(path){ hocomoco12_bundle_url(path) }, collections: ['H12CORE', 'H12INVIVO', 'H12INVITRO', 'H12RSNP'] }


- content_for(:title) do
  HOCOMOCO-v12 Downloads - HOmo sapiens COmprehensive MOdel COllection
- content_for(:meta_description) do
  Download HOCOMOCO TFBS motif collection and supplementary data.
/ - content_for(:canonical_url, "https://hocomoco12.autosome.org/downloads_v12")
