.pageheader Downloads
.contacts
  %b Contacts
  %ul
    %li Technical questions and suggestions should be addressed to #{link_to 'Ilya Vorontsov', 'mailto:vorontsov.i.e/at/gmail/dot/com'} and #{link_to 'Ivan Kulakovskiy', 'mailto:ivan.kulakovskiy/at/gmail/dot/com'}.
    %li General questions should be addressed to #{link_to 'Ivan Kulakovskiy', 'mailto:ivan.kulakovskiy/at/gmail/dot/com'}, #{link_to 'Yulia Medvedeva', 'mailto:ju.medvedeva/at/gmail/dot/com'} or #{link_to 'Vsevolod Makeev', 'mailto:vsevolod.makeev/at/gmail/dot/com'}.
%h2 Tools
%ul
  %li
    SPRY-SARUS tool for motif finding (Java): #{link_to 'jar', 'http://autosome.ru/ChIPMunk/sarus.jar'}, #{link_to 'readme', 'http://autosome.ru/ChIPMunk/sarus_readme.txt'}, #{link_to 'example data', 'http://autosome.ru/ChIPMunk/sarus_example.zip'}
  %li
    MACRO-APE tool for motif comparison, P-value and threshold estimation: #{link_to 'jar', 'http://opera.autosome.ru/downloads/ape-2.0.1.jar'}, #{link_to 'manual', 'http://opera.autosome.ru/downloads/MACRO-PERFECTOS-APE_manual.pdf'}, #{link_to 'website', 'http://opera.autosome.ru/macroape/'}
  %li
    PERFECTOS-APE tool for functional annotation of sequence variants overlappint TFBS: #{link_to 'jar', 'http://opera.autosome.ru/downloads/ape-2.0.1.jar'}, #{link_to 'manual', 'http://opera.autosome.ru/downloads/MACRO-PERFECTOS-APE_manual.pdf'}, #{link_to 'website', 'http://opera.autosome.ru/perfectosape/'}

%h2 Sequence data
%ul
  %li ChIP-Seq peaks used for motif discovery, #{link_to 'multifasta/zip', 'https://yadi.sk/d/5vA1oBv-j39fc'} (~200Mb).
  %li ChIP-Seq peaks used for benchmarking, #{link_to 'multifasta/zip', 'https://yadi.sk/d/K4-TjHAtj39iP'} (~200Mb).

.cite
  %b Citation:
  .title
    = link_to 'http://nar.oxfordjournals.org/content/44/D1/D116' do
      HOCOMOCO: expansion and enhancement of the collection of transcription factor binding sites models
  .authors Ivan V. Kulakovskiy; Ilya E. Vorontsov; Ivan S. Yevshin; Anastasiia V. Soboleva; Artem S. Kasianov; Haitham Ashoor; Wail Ba-alawi; Vladimir B. Bajic; Yulia A. Medvedeva; Fedor A. Kolpakov; Vsevolod J. Makeev
  .journal Nucleic Acids Research 2015;
  .doi doi: 10.1093/nar/gkv1249


%h4
  TFBS models (#{link_to 'Technical notes', root_path + 'technical_notes.txt', class: 'tech_notes'})

%table#downloads
  %thead
    %tr
      %th{rowspan: 2, colspan: 2}
      %th{colspan: 2} Human
      %th{colspan: 2} Mouse
    %tr
      %th Mononucleotide
      %th Dinucleotide
      %th Mononucleotide
      %th Dinucleotide
  %tbody
    %tr
      %td.row-hdr{rowspan: 2}
        PWM
        .has-tooltip.help-icon{data:{toggle: 'tooltip', placement: 'bottom', title: 'See technical notes'}}
      %td.row-hdr
        One file per matrix
        .has-tooltip.help-icon{data:{toggle: 'tooltip', placement: 'bottom', title: 'MACRO-PERFECTOS-APE compatible format'}}
      %td= link_to 'pwm_HUMAN_mono.tar.gz', root_path + 'final_bundle/HUMAN/mono/pwm_HUMAN_mono.tar.gz'
      %td= link_to 'pwm_HUMAN_di.tar.gz', root_path + 'final_bundle/HUMAN/di/pwm_HUMAN_di.tar.gz'
      %td= link_to 'pwm_MOUSE_mono.tar.gz', root_path + 'final_bundle/MOUSE/mono/pwm_MOUSE_mono.tar.gz'
      %td= link_to 'pwm_MOUSE_di.tar.gz', root_path + 'final_bundle/MOUSE/di/pwm_MOUSE_di.tar.gz'
    %tr
      %td.row-hdr Flat file
      %td= link_to 'pwms_HUMAN_mono.txt', root_path + 'final_bundle/HUMAN/mono/pwms_HUMAN_mono.txt'
      %td= link_to 'pwms_HUMAN_di.txt', root_path + 'final_bundle/HUMAN/di/pwms_HUMAN_di.txt'
      %td= link_to 'pwms_MOUSE_mono.txt', root_path + 'final_bundle/MOUSE/mono/pwms_MOUSE_mono.txt'
      %td= link_to 'pwms_MOUSE_di.txt', root_path + 'final_bundle/MOUSE/di/pwms_MOUSE_di.txt'

    %tr
      %td.row-hdr{rowspan: 2} PCM
      %td.row-hdr
        One file per matrix
        .has-tooltip.help-icon{data:{toggle: 'tooltip', placement: 'bottom', title: 'MACRO-PERFECTOS-APE compatible format'}}
      %td= link_to 'pcm_HUMAN_mono.tar.gz', root_path + 'final_bundle/HUMAN/mono/pcm_HUMAN_mono.tar.gz'
      %td= link_to 'pcm_HUMAN_di.tar.gz', root_path + 'final_bundle/HUMAN/di/pcm_HUMAN_di.tar.gz'
      %td= link_to 'pcm_MOUSE_mono.tar.gz', root_path + 'final_bundle/MOUSE/mono/pcm_MOUSE_mono.tar.gz'
      %td= link_to 'pcm_MOUSE_di.tar.gz', root_path + 'final_bundle/MOUSE/di/pcm_MOUSE_di.tar.gz'
    %tr
      %td.row-hdr Flat file
      %td= link_to 'pcms_HUMAN_mono.txt', root_path + 'final_bundle/HUMAN/mono/pcms_HUMAN_mono.txt'
      %td= link_to 'pcms_HUMAN_di.txt', root_path + 'final_bundle/HUMAN/di/pcms_HUMAN_di.txt'
      %td= link_to 'pcms_MOUSE_mono.txt', root_path + 'final_bundle/MOUSE/mono/pcms_MOUSE_mono.txt'
      %td= link_to 'pcms_MOUSE_di.txt', root_path + 'final_bundle/MOUSE/di/pcms_MOUSE_di.txt'

    %tr
      %td.row-hdr{colspan: 2} Alignments
      %td= link_to 'words_HUMAN_mono.tar.gz', root_path + 'final_bundle/HUMAN/mono/words_HUMAN_mono.tar.gz'
      %td= link_to 'words_HUMAN_di.tar.gz', root_path + 'final_bundle/HUMAN/di/words_HUMAN_di.tar.gz'
      %td= link_to 'words_MOUSE_mono.tar.gz', root_path + 'final_bundle/MOUSE/mono/words_MOUSE_mono.tar.gz'
      %td= link_to 'words_MOUSE_di.tar.gz', root_path + 'final_bundle/MOUSE/di/words_MOUSE_di.tar.gz'
    %tr
      %td.row-hdr{colspan: 2} Standard thresholds
      %td= link_to 'standard_thresholds_HUMAN_mono.txt', root_path + 'final_bundle/HUMAN/mono/standard_thresholds_HUMAN_mono.txt'
      %td= link_to 'standard_thresholds_HUMAN_di.txt', root_path + 'final_bundle/HUMAN/di/standard_thresholds_HUMAN_di.txt'
      %td= link_to 'standard_thresholds_MOUSE_mono.txt', root_path + 'final_bundle/MOUSE/mono/standard_thresholds_MOUSE_mono.txt'
      %td= link_to 'standard_thresholds_MOUSE_di.txt', root_path + 'final_bundle/MOUSE/di/standard_thresholds_MOUSE_di.txt'
    %tr
      %td.row-hdr{colspan: 2}
        Threshold to P-value map
        .has-tooltip.help-icon{data:{toggle: 'tooltip', placement: 'bottom', title: 'Precalculated thresholds to be utilized by PERFECTOS-APE (P-value calculated under uniform background model)'}}
      %td= link_to 'thresholds_HUMAN_mono.tar.gz', root_path + 'final_bundle/HUMAN/mono/thresholds_HUMAN_mono.tar.gz'
      %td= link_to 'thresholds_HUMAN_di.tar.gz', root_path + 'final_bundle/HUMAN/di/thresholds_HUMAN_di.tar.gz'
      %td= link_to 'thresholds_MOUSE_mono.tar.gz', root_path + 'final_bundle/MOUSE/mono/thresholds_MOUSE_mono.tar.gz'
      %td= link_to 'thresholds_MOUSE_di.tar.gz', root_path + 'final_bundle/MOUSE/di/thresholds_MOUSE_di.tar.gz'
    %tr
      %td.row-hdr{colspan: 2} Sequence LOGOs
      %td= link_to 'logo_HUMAN_mono.tar.gz', root_path + 'final_bundle/HUMAN/mono/logo_HUMAN_mono.tar.gz'
      %td= link_to 'logo_HUMAN_di.tar.gz', root_path + 'final_bundle/HUMAN/di/logo_HUMAN_di.tar.gz'
      %td= link_to 'logo_MOUSE_mono.tar.gz', root_path + 'final_bundle/MOUSE/mono/logo_MOUSE_mono.tar.gz'
      %td= link_to 'logo_MOUSE_di.tar.gz', root_path + 'final_bundle/MOUSE/di/logo_MOUSE_di.tar.gz'

    %tr
      %td.row-hdr{rowspan: 4} Matrices in other formats
      %td.row-hdr JASPAR
      %td= link_to 'H10_HUMAN_mono_jaspar_format.txt', root_path + 'final_bundle/HUMAN/mono/HOCOMOCOv10_HUMAN_mono_jaspar_format.txt'
      %td
      %td= link_to 'H10_MOUSE_mono_jaspar_format.txt', root_path + 'final_bundle/MOUSE/mono/HOCOMOCOv10_MOUSE_mono_jaspar_format.txt'
      %td
    %tr
      %td.row-hdr MEME
      %td= link_to 'H10_HUMAN_mono_meme_format.meme', root_path + 'final_bundle/HUMAN/mono/HOCOMOCOv10_HUMAN_mono_meme_format.meme'
      %td
      %td= link_to 'H10_MOUSE_mono_meme_format.meme', root_path + 'final_bundle/MOUSE/mono/HOCOMOCOv10_MOUSE_mono_meme_format.meme'
      %td
    %tr
      %td.row-hdr TRANSFAC
      %td= link_to 'H10_HUMAN_mono_transfac_format.txt', root_path + 'final_bundle/HUMAN/mono/HOCOMOCOv10_HUMAN_mono_transfac_format.txt'
      %td
      %td= link_to 'H10_MOUSE_mono_transfac_format.txt', root_path + 'final_bundle/MOUSE/mono/HOCOMOCOv10_MOUSE_mono_transfac_format.txt'
      %td
    %tr
      %td.row-hdr
        HOMER
        .has-tooltip.help-icon{data:{toggle: 'tooltip', placement: 'bottom', title: 'Matrices in HOMER format include score thresholds. We provide the collection with threshold levels corresponding to P-value of 0.001, 0.0005 and 0.0001'}} 
      %td
        - ['0.001', '0.0005', '0.0001'].each do |pvalue|
          .homer_pvalue= link_to "P-value #{pvalue}", root_path + "final_bundle/HUMAN/mono/HOCOMOCOv10_HUMAN_mono_homer_format_#{pvalue}.motif"
      %td
      %td
        - ['0.001', '0.0005', '0.0001'].each do |pvalue|
          .homer_pvalue= link_to "P-value #{pvalue}", root_path + "final_bundle/MOUSE/mono/HOCOMOCOv10_MOUSE_mono_homer_format_#{pvalue}.motif"
      %td
