.pageheader Downloads
.contacts
  %b Contacts
  %ul
    %li Technical questions and suggestions should be addressed to #{link_to 'Ilya Vorontsov', 'mailto:vorontsov.i.e/at/gmail/dot/com'} and #{link_to 'Ivan Kulakovskiy', 'mailto:ivan.kulakovskiy/at/gmail/dot/com'}.
    %li General questions should be addressed to #{link_to 'Ivan Kulakovskiy', 'mailto:ivan.kulakovskiy/at/gmail/dot/com'}, #{link_to 'Yulia Medvedeva', 'mailto:ju.medvedeva/at/gmail/dot/com'} or #{link_to 'Vsevolod Makeev', 'mailto:vsevolod.makeev/at/gmail/dot/com'}.
%h2 Tools
%ul
  %li
    SPRY-SARUS tool for motif finding (Java): #{link_to 'jar', 'http://autosome.ru/ChIPMunk/sarus.jar'}, #{link_to 'readme', 'http://autosome.ru/ChIPMunk/sarus_readme.txt'}, #{link_to 'example data', 'http://autosome.ru/ChIPMunk/sarus_example.zip'}
  %li
    MACRO-APE tool for motif comparison, P-value and threshold estimation: #{link_to 'jar', 'http://opera.autosome.ru/downloads/ape-2.0.1.jar'}, #{link_to 'manual', 'http://opera.autosome.ru/downloads/MACRO-PERFECTOS-APE_manual.pdf'}, #{link_to 'website', 'http://opera.autosome.ru/macroape/'}
  %li
    PERFECTOS-APE tool for functional annotation of sequence variants overlappint TFBS: #{link_to 'jar', 'http://opera.autosome.ru/downloads/ape-2.0.1.jar'}, #{link_to 'manual', 'http://opera.autosome.ru/downloads/MACRO-PERFECTOS-APE_manual.pdf'}, #{link_to 'website', 'http://opera.autosome.ru/perfectosape/'}

%h2 Sequence data
%ul
  %li ChIP-Seq peaks used for motif discovery, #{link_to 'MultiFASTA/zip', 'https://yadi.sk/d/5vA1oBv-j39fc'} (~200Mb).
  %li ChIP-Seq peaks used for benchmarking, #{link_to 'MultiFASTA/zip', 'https://yadi.sk/d/K4-TjHAtj39iP'} (~200Mb).

.cite
  %b Citation:
  .title
    = link_to 'http://nar.oxfordjournals.org/content/44/D1/D116' do
      HOCOMOCO: expansion and enhancement of the collection of transcription factor binding sites models
  .authors Ivan V. Kulakovskiy; Ilya E. Vorontsov; Ivan S. Yevshin; Anastasiia V. Soboleva; Artem S. Kasianov; Haitham Ashoor; Wail Ba-alawi; Vladimir B. Bajic; Yulia A. Medvedeva; Fedor A. Kolpakov; Vsevolod J. Makeev
  .journal Nucl. Acids Res. (04 January 2016) 44 (D1): D116-D125.
  .doi doi: 10.1093/nar/gkv1249


%h4
  TFBS models (#{link_to 'Technical notes', hocomoco11_url('technical_notes.txt'), class: 'tech_notes'})

= render partial: 'download_table', locals: {bundle_url: method(:hocomoco11_bundle_url), technical_notes_url: hocomoco11_url('technical_notes.txt')}
