.row
  .col-md-1
  .col-lg-10
    .help_container
      %p
        %a.section_header#faq{href: '#faq'} FAQ
      .qa-section
        .question
          <b>Q:</b> I am a bit lost, which (sub-)collection should I use in my analysis?
        .answer
          <b>A:</b> In most of the scenarios, you can safely use the main CORE collection. However, for better results, you should consult the following #{link_to 'graphical scheme', asset_path('HOCOMOCO12_usage_guide.png')}.

      .qa-section
        .question
          <b>Q:</b> But there are so many extra motif annotations such as subtype or quality, should I somehow pre-filter motifs based on those?
        .answer
          <b>A:</b> In the CORE collection all motifs are reliable. <b>C</b>-quality motifs have only a single supporting experiment but were nonetheless manually curated and benchmarked. Also, in the <tt>CORE</tt> collection, there are only a handful of <b>D</b>-quality motifs representing a few rare subtypes, which were not rediscovered when updating v11 to v12 and later to v13-v14 but were retained for consistency.
          %br
          In the sub-collections, <b>D</b> quality denotes non-benchmarked motifs, e.g. in the ‘<tt>invivo</tt>’ sub-collection the <b>D</b> quality motifs were not tested on ChIP-Seq data.
          %br
          Don't hesitate to consult the #{link_to 'scheme', asset_path('HOCOMOCO12_usage_guide.png')} for further hints.


      .qa-section
        .question
          <b>Q:</b> Can you explain the structure of motif IDs?
        .answer
          <b>A:</b> Let's use #{link_to 'AHR.H14CORE.0.P.B', motif_path('AHR.H14CORE.0.P.B')} as an example.
          %br
          Here <u>AHR</u> denotes the UniProt ID prefix (most of the time identical between human and mouse orthologs, e.g. AHR_HUMAN and AHR_MOUSE). 
          %br
          <u>H14CORE</u> denotes the subcollection, and can also be H14RSNP/H14INVIVO/H14INVITRO in downloadable motif sets.
          %br
          <u>0</u> is the subtype number, where 0 denotes the most common motifs scoring the best across all benchmarking datasets.
          %br
          <u>P</u> is the type of the experiment that yielded motifs that were assigned to the subtype during expert curation. <b>P</b> means that this motif was found in ChI<b>P</b>-Seq experiments. See details in a section of help page devoted to #{link_to 'Experimental data types', help_path(anchor: 'experimental_data_types')}.
          %br
          <u>B</u> is the motif quality on the ABCD scale, see help page section #{link_to 'Quality ratings', help_path(anchor: 'description_quality_score')} .

      .qa-section
        .question
          <b>Q:</b> How do I select HOCOMOCO motifs for mouse or other species?
        .answer
          <b>A:</b> Please consult the #{link_to 'scheme', asset_path('HOCOMOCO12_usage_guide.png')}.

      .qa-section
        .question
          <b>Q:</b> In HOCOMOCO v11 there were separate mouse and human collections. Why is there only one joint collection in v13?
        .answer
          <b>A:</b> Even in HOCOMOCO v11 we were relying on cross-validation between human and mouse datasets. As human and mouse TFs share highly similar and often identical DNA-binding domains, we have taken the next step and selected the most reliable motif well-performing across the whole range of available data for both species. Based on benchmarking results, we consider v13 motifs to be generally more informative and more reliable than in the previous releases. Please check the #{link_to 'HOCOMOCO v12 paper', 'https://doi.org/10.1093/nar/gkad1077'} for more details.

      .qa-section
        .question
          <b>Q:</b> Where is the dinucleotide motif collection of HOCOMOCO v11?
        .answer
          <b>A:</b> In this release, we have focused our efforts on expanding the fraction of TFs covered by reliable motifs, rigorous benchmarking, and comprehensive annotation of motif subtypes. Dinucleotide motifs will continue to be available in HOCOMOCO v11, see #{link_to 'Downloads', downloads_v11_path}.

      .qa-section
        .question
          <b>Q:</b> Where are sequence alignments used to construct the weight matrices?
        .answer
          <b>A:</b> We decided to discard this information as being of limited value. For particular TFs and motifs, these data are available from older HOCOMOCO releases, see #{link_to 'Downloads', downloads_v12_path}.

%hr
.row
  .col-md-1
  .col-lg-10
    %b HOCOMOCO v14 Release Notes:
    %br
    This release is largely inherited from v13. It resolves rare cases of motifs or datasets assigned to the wrong (mislabeled) TFs. In the end, most of the collection remains the same, except TTF1 and MYRFL, which were erroneously swapped in v13.
    %br
    Since v14, we no longer provide web interfaces to earlier releases, which was confusing to some users. Instead, the older data are downloadable in bulk: see Downloads and ZENODO.

- content_for(:title) do
  FAQ - HOmo sapiens COmprehensive MOdel COllection
