.help_container
  %p
    .section_header [PWM]
    HOmo sapiens COmprehensive MOdel COllection (HOCOMOCO) contains transcription factor (TF) binding models represented as classic #{link_to 'Position Weight Matrices', 'https://en.wikipedia.org/wiki/Position_weight_matrix'} (PWMs, also known as Position-Specific Scoring Matrices, PSSMs) and precalculated score thresholds.

  %p
    The dinucleotide PWMs provide better TFBS recognition quality and are also available for selected TFs, primarily for those with ChIP-Seq data available (see HOCOMOCO-v10 #{link_to 'paper', 'http://nar.oxfordjournals.org/content/44/D1/D116'} for details).

  %p
    .section_header [Motif finding; Sequence scanning]
    Currently the HOCOMOCO database provides PWMs and precomputed score thresholds for download. Stand-alone tools, such as #{link_to 'SPRY-SARUS', 'http://autosome.ru/ChIPMunk/'}, should be used to scan a given sequence for putative TFBS. A #{link_to 'web-interface', 'http://micro.biouml.org/bioumlweb/hocomoco.html'} in BioUML is also suitable for this task.

  %p
    PWMs in HOCOMOCO were derived from various types of experimental data using data integration by #{ link_to 'ChIPMunk', 'http://autosome.ru/ChIPMunk/'} motif discovery tool.

  %p#description_quality_score
    .section_header [Quality score]
    Each PWM has a quality rating from A to D where A represents motifs with the highest confidence, and D motifs only weakly describe the pattern with a limited applications for quantitative analyses. Special S quality marks the single-box motifs. A flowchart on quality assignment used in HOCOMOCO-v10 is available as #{link_to 'Supplementary Figure', 'http://nar.oxfordjournals.org/content/suppl/2015/11/18/gkv1249.DC1/nar-02714-data-e-2015-File007.pdf'}. The details on quality assignment can be found in '#{link_to 'Assembling the final collection', 'http://nar.oxfordjournals.org/content/44/D1/D116.full#sec-8'}' section of the HOCOMOCO-v10 paper.

  %p#description_auc
    .section_header [AUC, wAUC]
    The wAUC (weighted Area Under Curve for ROC) represents the power of a given model to discriminate true positive ChIP-Seq segments from random noise, wAUC provides aggregated information based on all tested ChIP-Seq data sets for a particular transcription factor. The best AUC shows the highest value reachable on a particular data set for a selected transcription factor. More details are given in Details are given in '#{link_to 'Model and dataset benchmarking', 'http://nar.oxfordjournals.org/content/44/D1/D116.full#sec-7'}' section in the HOCOMOCO-v10 paper.
