.row
  .col-md-1
  .col-lg-10
    .help_container
      %p
        %a.section_header#technical_terms{href: '#technical_terms'} Technical Terms and Acronyms
      %p
        %a.section_subheader#pwm{href: '#pwm'} [PWM]
      %p
        HOmo sapiens COmprehensive MOdel COllection (HOCOMOCO) contains transcription factor (TF) binding motifs represented as classic #{link_to 'Position Weight Matrices', 'https://en.wikipedia.org/wiki/Position_weight_matrix'} (PWMs, also known as Position-Specific Scoring Matrices, PSSMs).
      %p
        The PCM to PWM conversion scheme used in HOCOMOCO follows that of MACRO-APE, see the respective #{link_to 'manual', 'http://opera.autosome.org/downloads/MACRO-PERFECTOS-APE_manual.pdf'}, pages 20–21. Uniform background frequencies were used for estimating the log-odds weightsand computing downloadable ‘PWM threshold-to-P-value’ tables.
      %p
        %a.section_subheader#motif_discovery{href: '#motif_discovery'} [Motif discovery]
      %p
        HOCOMOCO #{link_to 'motifs', 'https://en.wikipedia.org/wiki/Sequence_motif'} were constructed with #{link_to 'ChIPMunk', 'https://autosome.org/ChIPMunk/'} by systematic motif discovery from thousands of ChIP-Seq and HT-SELEX datasets. Please refer to the #{link_to 'HOCOMOCO v12 paper', 'https://doi.org/10.1093/nar/gkad1077'} for more details on the motif discovery procedure and to the #{link_to 'Codebook MEX paper', 'https://doi.org/10.1038/s42003-025-08909-9'} for details on data sources and motif discovery pipeline for v13-v14 update.
      %p
        %a.section_subheader#motif_finding{href: '#motif_finding'} [Motif finding; Sequence scanning]
      %p
        HOCOMOCO provides PWMs accompanied by precomputed score thresholds. The thresholds and P-value for HOCOMOCO v14 motifs were estimated against uniform background probabilities. To interactively visualize predicted TFBS in a small set of sequences we provide #{link_to 'MoLoTool', 'https://molotool.autosome.org/'}. For large-scale analysis, we suggest using command-line tools, such as our #{link_to 'SPRY-SARUS', 'https://github.com/autosome-ru/sarus'} or MEME's #{link_to 'FIMO', 'https://meme-suite.org/meme/doc/fimo.html'}.

      %p
        %a.section_subheader#motif_benchmarking{href: '#motif_benchmarking'} [Motif benchmarking; Performance metrics]
      %p
        To assemble the motif collection of HOCOMOCO v14, we have used multiple benchmarking protocols evaluating the motif performance for TFBS recognition in genomic regions (<i>in vivo</i> data: ChIP-Seq), in artificial oligonucleotides (<i>in vitro</i> data: HT-SELEX, GHT-SELEX, SMiLE-Seq and PBM), and for predicting regulatory single-nucleotide variants and polymorphisms (rSNPs), please refer to the #{link_to 'HOCOMOCO v12 paper', 'https://doi.org/10.1093/nar/gkad1077'}. Newer motifs for poorly studied transcription factors were derived and benchmarked within the scope of the Codebook project, please refer to the #{link_to 'Codebook MEX paper', 'https://doi.org/10.1038/s42003-025-08909-9'} and <a href="https://mex.autosome.org/">Codebook MEX website</a> for more details on benchmarking protocols and the performance metrics.
      %p
        %a.section_subheader#description_quality_score{href: '#description_quality_score'} [Quality ratings]
      %p
        Each model in the collection has a quality rating from <b>A</b> to <b>D</b> where <b>A</b> represents motifs with the highest confidence. <b>A</b> quality motifs and subtypes were found in datasets obtained with at least two types of assays (ChIP-Seq, HT-SELEX, GHT-SELEX, SMiLE-Seq or PBM), <b>B</b> quality motifs were found in datasets coming from at least two different experiments of the same type, and <b>C</b> quality motifs passed expert curation but were coming only from a single experiment. In the core collection, <b>D</b> quality marks the least reliable motifs inherited from HOCOMOCO v11 and not benchmarked in later releases, there are only a few such cases in v13. In sub-collections, <b>D</b> quality denotes all motifs not tested in the respective benchmarks (i.e., no ChIP-Seq for v13-invivo, no HT-SELEX, GHT-SELEX, SMiLE-Seq, or PBM for v13-invitro, no rSNPs for v13-rsnp).
      %p
        %a.section_subheader#motif_subtypes{href: '#motif_subtypes'} [Motif subtypes]
      %p
        Since v11, alternative binding motifs of a particular TF are ranked from 0 (the primary model) to 1,2,.. (the alternative motifs). The motifs of rank 0 are the most 'general' variants with the best performance across available data in the benchmark (see the #{link_to 'HOCOMOCO v12 paper', 'https://doi.org/10.1093/nar/gkad1077'} for details).
      %p
        %a.section_subheader#experimental_data_types{href: '#experimental_data_types'} [Experimental data types]
      %p
        HOCOMOCO v12 used two data types for motif discovery: ChIP-Seq and HT-SELEX. The latter came in two variants: traditional HT-SELEX and methyl-HT-SELEX with mCpGs.
        Since HOCOMOCO v13 three additional data types were used: GHT-SELEX (HT-SELEX with the input library of random genomic fragments), SMiLE-Seq, and PBM.
        Additionally, in benchmarking, we used information on differential transcription factor binding to single-nucleotide variants obtained in SNP-SELEX and identified from ChIP-Seq (the allele-specific binding, see #{link_to 'ADASTRA', 'https://adastra.autosome.org/'}).

        The motif ID encodes experiment types that yielded patterns assigned to the same subtype during expert curation. We use the following abbreviations of experiment types: P (ChI<b>P</b>-Seq), S (HT-<b>S</b>ELEX), M (<b>M</b>ethyl-HT-SELEX), G (<b>G</b>enomic HT-SELEX), I (SM<b>i</b>LE-Seq), and B (P<b>B</b>M). Motif IDs can include any combination of those six (PSMGIB) for motifs found in datasets, which came from several different types of assays.

      / %p
      /   %a.section_subheader{href: '#api_description'} [API description]
      / %p
      /   HOCOMOCO provides JSON-API in order to programmatically get information about a motif. See API #{link_to 'help page', api_description_path} for details.

- content_for(:title) do
  Help - HOmo sapiens COmprehensive MOdel COllection
