.row
  .col-lg-8.order-2
    #motif_families_map{data: {url: hocomoco13_bundle_url("H13CORE/H13CORE_family_tree.json") } }><

  .col-lg-4.order-1
    .wrap_description
      .citation
        %b Please cite:
        %p.title
          = link_to 'https://doi.org/10.1093/nar/gkad1077' do
            HOCOMOCO in 2024: a rebuild of the curated collection of binding models for human and mouse transcription factors
        .expand
          .toggle.show-content Show more
          .toggle.hide-content Hide
          .content.hide-content
            %p.authors
              Ilya E Vorontsov, Irina A Eliseeva, Arsenii Zinkevich, Mikhail Nikonov, Sergey Abramov, Alexandr Boytsov, Vasily Kamenets, Alexandra Kasianova, Semyon Kolmykov, Ivan S Yevshin, Alexander Favorov, Yulia A Medvedeva, Arttu Jolma, Fedor Kolpakov, Vsevolod J Makeev, Ivan V Kulakovskiy
            %p.journal
              Nucleic Acids Research, gkad1077 (16 November 2023)
            %p.doi
              doi: 10.1093/nar/gkad1077

      .database_description
        %p
          HOmo sapiens COmprehensive MOdel COllection (HOCOMOCO) v13 provides 1611 transcription factor (TF) binding models including secondary motif subtypes for 1120 human TFs and 815 mouse orthologs.
        %p
          The HOCOMOCO motif models are derived from ChIP-Seq, HT-SELEX, GHT-SELEX, SMiLE-Seq and PBM data by DNA motif discovery with #{link_to 'ChIPMunk', 'https://autosome.org/ChIPMunk/'}. The resulting motifs were manually curated and rigorously benchmarked. The preprocessed ChIP-Seq data was extracted from the #{link_to 'GTRD', 'https://gtrd.biouml.org/'} database of the BioUML platform. Additional data for v12 to v13 update was obtained as a part of #{link_to 'Codebook MEX', 'https://mex.autosome.org/'} project.
        %p
          #{link_to 'MoLoTool', 'https://molotool.autosome.org/'} provides an interactive web GUI for sequence scanning to identify HOCOMOCO motif occurrences in a given set of DNA sequences.

- content_for(:meta_description) do
  Main page of HOCOMOCO Database of human and mouse Transcription Factor Binding Sites motifs. TF hierarchy. Article citation info for HOCOMOCO motif collection.
