.row
  .col-4
    .wrap_description
      .citation
        %b Please cite:
        %p.title
          = link_to 'https://academic.oup.com/nar/article/doi/10.1093/nar/gkx1106/4616875' do
            HOCOMOCO: towards a complete collection of transcription factor binding models for human and mouse via large-scale ChIP-Seq analysis
        .expand
          .toggle.show-content Show more
          .toggle.hide-content Hide
          .content.hide-content
            %p.authors
              Ivan V. Kulakovskiy; Ilya E. Vorontsov; Ivan S. Yevshin; Ruslan N. Sharipov; Alla D. Fedorova; Eugene I. Rumynskiy; Yulia A. Medvedeva; Arturo Magana-Mora;
              Vladimir B. Bajic; Dmitry A. Papatsenko; Fedor A. Kolpakov; Vsevolod J. Makeev
            %p.journal
              Nucl. Acids Res., Database issue, gkx1106 (11 November 2017)
            %p.doi
              doi: 10.1093/nar/gkx1106
      .mirrors
        .mirror= link_to 'Primary URL', 'http://hocomoco.autosome.org/'
        .mirror= link_to 'Mirror', 'http://www.cbrc.kaust.edu.sa/hocomoco11/'
      .database_description
        %p
          HOmo sapiens COmprehensive MOdel COllection (HOCOMOCO) v11 provides
          transcription factor (TF) binding models for 680 human and 453 mouse
          TFs.
        %p
          Since v11, HOCOMOCO is complemented by
          #{link_to 'MoLoTool', 'http://molotool.autosome.org/'},
          an interactive web tool to mark motif occurrences in a given set of
          DNA sequences.
        %p
          In addition to basic mononucleotide position weight matrices (PWMs),
          HOCOMOCO provides dinucleotide position weight matrices based on
          ChIP-Seq data.
        %p
          All the models were produced by the
          #{link_to 'ChIPMunk', 'http://autosome.org/ChIPMunk/'}
          motif discovery tool.
          Model quality ratings are results of a comprehensive cross-validation
          benchmark.
        %p
          ChIP-Seq data for motif discovery was extracted from
          #{link_to 'GTRD', 'http://gtrd.biouml.org/bioumlweb/gtrd.html'} database
          of BioUML platform, that also provides an
          #{link_to 'interface', 'http://micro.biouml.org/bioumlweb/hocomoco.html'}
          for motif finding (sequence scanning) with HOCOMOCO models.
  .col-8
    #motif_families_map{data: {url: "#{root_url}final_bundle/#{HOCOMOCO_VERSION}/#{@full_or_core}/#{@species}/#{@arity}/HOCOMOCOv#{HOCOMOCO_VERSION_NUMBER}_#{@full_or_core}_family_tree_#{@species}_#{@arity}.json" } }><
