.row
  .col-lg-8.order-2
    #motif_families_map{data: {url: "#{root_url}H12CORE_family_tree.json" } }><

  .col-lg-4.order-1
    .wrap_description
      .citation
        %b Please cite:
        %p.title
          = link_to 'https://academic.oup.com/nar/article/doi/10.1093/nar/gkx1106/4616875' do
            HOCOMOCO: towards a complete collection of transcription factor binding models for human and mouse via large-scale ChIP-Seq analysis
        .expand
          .toggle.show-content Show more
          .toggle.hide-content Hide
          .content.hide-content
            %p.authors
              Ivan V. Kulakovskiy; Ilya E. Vorontsov; Ivan S. Yevshin; Ruslan N. Sharipov; Alla D. Fedorova; Eugene I. Rumynskiy; Yulia A. Medvedeva; Arturo Magana-Mora;
              Vladimir B. Bajic; Dmitry A. Papatsenko; Fedor A. Kolpakov; Vsevolod J. Makeev
            %p.journal
              Nucl. Acids Res., Database issue, gkx1106 (11 November 2017)
            %p.doi
              doi: 10.1093/nar/gkx1106

      .database_description
        %p
          HOmo sapiens COmprehensive MOdel COllection (HOCOMOCO) v12 provides 1443 transcription factor (TF) binding models including secondary motif subtypes for 949 human TFs and 716 mouse orthologs.
        %p
          The HOCOMOCO motif models are derived from ChIP-Seq and HT-SELEX data by DNA motif discovery with #{link_to 'ChIPMunk', 'https://autosome.org/ChIPMunk/'}. The resulting motifs were manually curated and rigorously benchmarked. The preprocessed ChIP-Seq data was extracted from the #{link_to 'GTRD', 'https://gtrd.biouml.org/'} database of the BioUML platform.
        %p
          #{link_to 'MoLoTool', 'https://molotool.autosome.org/'} provides an interactive web GUI for sequence scanning to identify HOCOMOCO motif occurrences in a given set of DNA sequences.
