.wrap_description><
  .attention-box.welcome-page><
    %p
      %b Attention!
    %p HOCOMOCO v10 is outdated. Please switch to the latest HOCOMOCO release using the following link: #{link_to 'hocomoco.autosome.ru', 'http://hocomoco.autosome.ru/'}
  
  .citation
    %b Please cite:
    %p.title
      = link_to 'http://nar.oxfordjournals.org/content/44/D1/D116' do
        HOCOMOCO: expansion and enhancement of the collection of transcription factor binding sites models
    .expand
      .toggle.show-content Show more
      .toggle.hide-content Hide
      .content.hide-content
        %p.authors
          Ivan V. Kulakovskiy; Ilya E. Vorontsov; Ivan S. Yevshin; Anastasiia V. Soboleva; Artem S. Kasianov; Haitham Ashoor; Wail Ba-alawi; Vladimir B. Bajic; Yulia A. Medvedeva; Fedor A. Kolpakov; Vsevolod J. Makeev
        %p.journal
          Nucl. Acids Res. (04 January 2016) 44 (D1): D116-D125.
        %p.doi
          doi: 10.1093/nar/gkv1249
  .mirrors
    .mirror= link_to 'Primary URL', 'http://hocomoco.autosome.ru/'
    .mirror= link_to 'Mirror', 'http://www.cbrc.kaust.edu.sa/hocomoco10'
  .database_description
    %p
      HOmo sapiens COmprehensive MOdel COllection (HOCOMOCO) v10 provides
      transcription factor (TF) binding models for 600 human and 395 mouse
      TFs.
    %p
      In addition to basic mononucleotide position weight matrices (PWMs),
      HOCOMOCO now provides a set of dinucleotide position weight matrices
      based on ChIP-Seq data.
    %p
      All the models were produced by the #{link_to 'ChIPMunk', 'http://autosome.ru/ChIPMunk/'} motif discovery tool.
      Model quality ratings are based on a comprehensive benchmark study or
      inherited from #{link_to 'HOCOMOCO v9', 'http://autosome.ru/HOCOMOCOS/'}.
    %p
      ChIP-Seq data for motif discovery was extracted from #{link_to 'GTRD','http://gtrd.biouml.org/bioumlweb/gtrd.html'} database of BioUML platform,
      that also provides an #{link_to 'interface', 'http://micro.biouml.org/bioumlweb/hocomoco.html'} for motif finding (sequence scanning)
      with HOCOMOCO models.
#motif_families_map><
