.row
  .col-12
    %table.key_value_info
      %tbody
        = table_info_row motif_cluster, :name
        = table_info_row motif_cluster, :direct_cluster_logo
        = table_info_row motif_cluster, :representative_motif
        = table_info_row motif_cluster, :representative_motif_gene_symbol
        = table_info_row motif_cluster, :clustered_motifs
        = table_info_row motif_cluster, :clustered_motifs_gene_symbols_plus_families
        = table_info_row motif_cluster, :primary_family
        = table_info_row motif_cluster, :primary_subfamily
        = table_info_row motif_cluster, :cluster_size
        = table_info_row motif_cluster, :average_similarity
        = table_info_row motif_cluster, :min_similarity

- content_for(:meta_description) do
  = "Cluster of motifs for #{motif_cluster.clustered_motifs_gene_symbols} transcription factors (uniprots: #{motif_cluster.clustered_motifs_uniprots})"
- content_for(:meta_thumbnail) do
  = request.base_url + motif_cluster.direct_logo_url
- content_for(:title) do
  = "Cluster #{motif_cluster.name} - HOmo sapiens COmprehensive MOdel COllection"
- content_for(:meta_keywords) do
  = motif_cluster.meta_keywords
