- if motif.metrics_summary['ChIP-Seq']
  - chipseq_metrics = motif.metrics_summary['ChIP-Seq']
  %br
  .row
    .col-12
      %table.benchmarks
        %thead
          %tr
            %th ChIP-Seq benchmarking
            %th Num. of experiments (peaksets)
            %th auROC, median
            %th auROC, best
            %th auPRC, median
            %th auPRC, best
            %th pseudo-auROC, median
            %th pseudo-auROC, best
            %th pseudo-log-auROC, median
            %th pseudo-log-auROC, best
            %th Centrality, median
            %th Centrality, best
        %tbody
          - if chipseq_metrics['HUMAN']
            %tr
              %th Human
              %td #{chipseq_metrics.dig('HUMAN', 'num_datasets')} (#{chipseq_metrics.dig('HUMAN', 'num_peaksets')})

              %td= chipseq_metrics.dig('HUMAN', 'pwmeval_chipseq', 'roc_auc', 'median')&.round(3)
              %td= chipseq_metrics.dig('HUMAN', 'pwmeval_chipseq', 'roc_auc', 'max')&.round(3)
              %td= chipseq_metrics.dig('HUMAN', 'pwmeval_chipseq', 'pr_auc', 'median')&.round(3)
              %td= chipseq_metrics.dig('HUMAN', 'pwmeval_chipseq', 'pr_auc', 'max')&.round(3)

              %td= chipseq_metrics.dig('HUMAN', 'viggroc', 'vigg_roc_auc', 'median')&.round(3)
              %td= chipseq_metrics.dig('HUMAN', 'viggroc', 'vigg_roc_auc', 'max')&.round(3)
              %td= chipseq_metrics.dig('HUMAN', 'viggroc', 'vigg_logroc_auc', 'median')&.round(3)
              %td= chipseq_metrics.dig('HUMAN', 'viggroc', 'vigg_logroc_auc', 'max')&.round(3)

              %td= chipseq_metrics.dig('HUMAN', 'centrimo', 'log_evalue', 'median')&.round(3)
              %td= chipseq_metrics.dig('HUMAN', 'centrimo', 'log_evalue', 'max')&.round(3)
          - if chipseq_metrics['MOUSE']
            %tr
              %th Mouse
              %td #{chipseq_metrics.dig('MOUSE', 'num_datasets')} (#{chipseq_metrics.dig('MOUSE', 'num_peaksets')})

              %td= chipseq_metrics.dig('MOUSE', 'pwmeval_chipseq', 'roc_auc', 'median')&.round(3)
              %td= chipseq_metrics.dig('MOUSE', 'pwmeval_chipseq', 'roc_auc', 'max')&.round(3)
              %td= chipseq_metrics.dig('MOUSE', 'pwmeval_chipseq', 'pr_auc', 'median')&.round(3)
              %td= chipseq_metrics.dig('MOUSE', 'pwmeval_chipseq', 'pr_auc', 'max')&.round(3)

              %td= chipseq_metrics.dig('MOUSE', 'viggroc', 'vigg_roc_auc', 'median')&.round(3)
              %td= chipseq_metrics.dig('MOUSE', 'viggroc', 'vigg_roc_auc', 'max')&.round(3)
              %td= chipseq_metrics.dig('MOUSE', 'viggroc', 'vigg_logroc_auc', 'median')&.round(3)
              %td= chipseq_metrics.dig('MOUSE', 'viggroc', 'vigg_logroc_auc', 'max')&.round(3)

              %td= chipseq_metrics.dig('MOUSE', 'centrimo', 'log_evalue', 'median')&.round(3)
              %td= chipseq_metrics.dig('MOUSE', 'centrimo', 'log_evalue', 'max')&.round(3)

- if motif.metrics_summary['HT-SELEX']
  - selex_metrics = motif.metrics_summary['HT-SELEX']
  %br
  .row
    .col-12
      %table.benchmarks
        %thead
          %tr
            %th{colspan: 2} HT-SELEX benchmarking
            %th auROC10
            %th auPRC10
            %th auROC25
            %th auPRC25
            %th auROC50
            %th auPRC50
        %tbody
          - if motif.metrics_summary.dig('HT-SELEX', 'overall') && selex_metrics.dig('methyl') && selex_metrics.dig('non-methyl')
            %tr
              %th.half{rowspan: 2}
                Overall,
                %span.font-weight-light  #{selex_metrics.dig('overall', 'num_datasets')} experiments
              %th.half median
              %td= selex_metrics.dig('overall', 'pwmeval_selex_10', 'roc_auc', 'median')&.round(3)
              %td= selex_metrics.dig('overall', 'pwmeval_selex_10', 'pr_auc',  'median')&.round(3)
              %td= selex_metrics.dig('overall', 'pwmeval_selex_25', 'roc_auc', 'median')&.round(3)
              %td= selex_metrics.dig('overall', 'pwmeval_selex_25', 'pr_auc',  'median')&.round(3)
              %td= selex_metrics.dig('overall', 'pwmeval_selex_50', 'roc_auc', 'median')&.round(3)
              %td= selex_metrics.dig('overall', 'pwmeval_selex_50', 'pr_auc',  'median')&.round(3)
            %tr
              %th.half best
              %td= selex_metrics.dig('overall', 'pwmeval_selex_10', 'roc_auc', 'max')&.round(3)
              %td= selex_metrics.dig('overall', 'pwmeval_selex_10', 'pr_auc',  'max')&.round(3)
              %td= selex_metrics.dig('overall', 'pwmeval_selex_25', 'roc_auc', 'max')&.round(3)
              %td= selex_metrics.dig('overall', 'pwmeval_selex_25', 'pr_auc',  'max')&.round(3)
              %td= selex_metrics.dig('overall', 'pwmeval_selex_50', 'roc_auc', 'max')&.round(3)
              %td= selex_metrics.dig('overall', 'pwmeval_selex_50', 'pr_auc',  'max')&.round(3)

          - if selex_metrics.dig('methyl')
            %tr
              %th.half{rowspan: 2}
                Methyl HT-SELEX,
                %span.font-weight-light #{selex_metrics.dig('methyl', 'num_datasets')} experiments
              %th.half median
              %td= selex_metrics.dig('methyl', 'pwmeval_selex_10', 'roc_auc', 'median')&.round(3)
              %td= selex_metrics.dig('methyl', 'pwmeval_selex_10', 'pr_auc',  'median')&.round(3)
              %td= selex_metrics.dig('methyl', 'pwmeval_selex_25', 'roc_auc', 'median')&.round(3)
              %td= selex_metrics.dig('methyl', 'pwmeval_selex_25', 'pr_auc',  'median')&.round(3)
              %td= selex_metrics.dig('methyl', 'pwmeval_selex_50', 'roc_auc', 'median')&.round(3)
              %td= selex_metrics.dig('methyl', 'pwmeval_selex_50', 'pr_auc',  'median')&.round(3)
            %tr
              %th.half best
              %td= selex_metrics.dig('methyl', 'pwmeval_selex_10', 'roc_auc', 'max')&.round(3)
              %td= selex_metrics.dig('methyl', 'pwmeval_selex_10', 'pr_auc',  'max')&.round(3)
              %td= selex_metrics.dig('methyl', 'pwmeval_selex_25', 'roc_auc', 'max')&.round(3)
              %td= selex_metrics.dig('methyl', 'pwmeval_selex_25', 'pr_auc',  'max')&.round(3)
              %td= selex_metrics.dig('methyl', 'pwmeval_selex_50', 'roc_auc', 'max')&.round(3)
              %td= selex_metrics.dig('methyl', 'pwmeval_selex_50', 'pr_auc',  'max')&.round(3)

          - if selex_metrics.dig('non-methyl')
            %tr
              %th.half{rowspan: 2}
                Non-Methyl HT-SELEX,
                %span.font-weight-light #{selex_metrics.dig('non-methyl', 'num_datasets')} experiments
              %th.half median
              %td= selex_metrics.dig('non-methyl', 'pwmeval_selex_10', 'roc_auc', 'median')&.round(3)
              %td= selex_metrics.dig('non-methyl', 'pwmeval_selex_10', 'pr_auc',  'median')&.round(3)
              %td= selex_metrics.dig('non-methyl', 'pwmeval_selex_25', 'roc_auc', 'median')&.round(3)
              %td= selex_metrics.dig('non-methyl', 'pwmeval_selex_25', 'pr_auc',  'median')&.round(3)
              %td= selex_metrics.dig('non-methyl', 'pwmeval_selex_50', 'roc_auc', 'median')&.round(3)
              %td= selex_metrics.dig('non-methyl', 'pwmeval_selex_50', 'pr_auc',  'median')&.round(3)
            %tr
              %th.half best
              %td= selex_metrics.dig('non-methyl', 'pwmeval_selex_10', 'roc_auc', 'max')&.round(3)
              %td= selex_metrics.dig('non-methyl', 'pwmeval_selex_10', 'pr_auc',  'max')&.round(3)
              %td= selex_metrics.dig('non-methyl', 'pwmeval_selex_25', 'roc_auc', 'max')&.round(3)
              %td= selex_metrics.dig('non-methyl', 'pwmeval_selex_25', 'pr_auc',  'max')&.round(3)
              %td= selex_metrics.dig('non-methyl', 'pwmeval_selex_50', 'roc_auc', 'max')&.round(3)
              %td= selex_metrics.dig('non-methyl', 'pwmeval_selex_50', 'pr_auc',  'max')&.round(3)


- if motif.metrics_summary.dig('rSNP', 'adastra')
  - adastra_metrics = motif.metrics_summary.dig('rSNP', 'adastra')
  %br
  .row
    .col-12
      %table.benchmarks
        %thead
          %tr
            %th rSNP benchmarking, ADASTRA
            %th odds-ratio
            %th -log-Fisher's P
            %th Pearson r
            %th Kendall tau
        %tbody
          %tr
            %th #
            %td= adastra_metrics['odds']&.round(3)
            %td= adastra_metrics['mlogfip']&.round(3)
            %td= adastra_metrics['r']&.round(3)
            %td= adastra_metrics['tau']&.round(3)

- if motif.metrics_summary.dig('rSNP', 'SNP-SELEX')
  - snp_selex_metrics = motif.metrics_summary.dig('rSNP', 'SNP-SELEX')
  %br
  .row
    .col-12
      %table.benchmarks
        %thead
          %tr
            %th rSNP benchmarking, SNP-SELEX
            %th auROC
            %th auPRC
            %th Pearson r
            %th Kendall tau
        %tbody
          - if snp_selex_metrics['batch-1']
            %tr
              %th batch 1
              %td= snp_selex_metrics.dig('batch-1', 'auroc')&.round(3)
              %td= snp_selex_metrics.dig('batch-1', 'auprc')&.round(3)
              %td= snp_selex_metrics.dig('batch-1', 'r')&.round(3)
              %td= snp_selex_metrics.dig('batch-1', 'tau')&.round(3)
          - if snp_selex_metrics['batch-2']
            %tr
              %th batch 2
              %td= snp_selex_metrics.dig('batch-2', 'auroc')&.round(3)
              %td= snp_selex_metrics.dig('batch-2', 'auprc')&.round(3)
              %td= snp_selex_metrics.dig('batch-2', 'r')&.round(3)
              %td= snp_selex_metrics.dig('batch-2', 'tau')&.round(3)
