.table-actions
  %button.reset.resetColumns{type: 'button'} Reset
  %button.select-columns-btn{type: 'button'} Select Columns
  = download_button
  %input{type: "text", value: csv_filename, class: 'csv-filename'}
  .loading_table
    .loading_logo
  .caption= caption(arity, species, family_id: family_id)
  #hidden_select_columns

%table#motifs.tablesorter.attach-column-selector{data: {table_group: 'hocomoco-motifs-2015-03-22-14-25', table_page: 'hocomoco-motifs-'+species+'-index-2015-03-22-14-25'}}
  %thead
    %tr
      = motif_table_header :full_name, show_always: true, class: 'motif_name'
      = motif_table_header :logo, dont_sort: true, class: 'sequence_logo filter-false'
      = motif_table_header :gene_names, class: "#{species.downcase}_gene_name"
      = motif_table_header :model_length, data: {placeholder:'>= 20'}
      = motif_table_header :quality, class: 'filter-match', data: {value: disable_default_filters ? '' : 'A to C', placeholder:'A or S'} do |content|
        = content
        = help_icon(href: help_path(anchor: 'description_quality_score'), title: (quality_help_text(arity) + " (click the icon for more details)"))
      = motif_table_header :consensus, dont_sort: true, hide_by_default: true, data: {placeholder: 'CA??TG'}
      = motif_table_header :origin, hide_by_default: true, class: 'origin_dataset_type filter-select'
      = motif_table_header :auc, hide_by_default: true, class: 'AUC' do |content|
        = content
        = help_icon(href: help_path(anchor: 'description_auc'), title: "Weighted Area Under Curve for Receiver Operating Characteristic estimate, click the icon for details on AUC.")
      = motif_table_header :max_auc, hide_by_default: true, class: 'AUC' do |content|
        = content
        = help_icon(href: help_path(anchor: 'description_auc'), title: "The best weighted Area Under Curve for Receiver Operating Characteristic among multiple tested data sets, click the icon for details on AUC.")
      = motif_table_header :num_datasets, hide_by_default: true, class: 'num_datasets'
      = motif_table_header :num_words_in_alignment,hide_by_default: true, class: 'num_words_in_alignment'
      = motif_table_header :motif_families, class: 'motif-family'
      = motif_table_header :motif_subfamilies, class: 'motif-subfamily', hide_by_default: true
      - if species == 'HUMAN'
        = motif_table_header :hgnc_ids, dont_sort: true, hide_by_default: true, class: 'hgnc_id'
      - else
        = motif_table_header :mgi_ids, dont_sort: true, hide_by_default: true, class: 'mgi_id'
      = motif_table_header :entrezgene_ids, dont_sort: true, class: 'gene_id'
      = motif_table_header :uniprot_id, class: 'uniprot_id'
      = motif_table_header :uniprot_acs, hide_by_default: true, class: 'uniprot_ac_and_tfclass'
      = motif_table_header :comment, dont_sort: true, hide_by_default: true

  %tbody
    - models.each do |model|
      %tr
        %td= model.full_name
        %td= model.logo
        %td= model.gene_names
        %td= model.model_length
        %td= model.quality
        %td= model.consensus
        %td= model.origin
        %td= model.auc
        %td= model.max_auc
        %td= model.num_datasets
        %td= model.num_words_in_alignment
        %td= model.motif_families
        %td= model.motif_subfamilies
        - if species == 'HUMAN'
          %td= model.hgnc_ids
        - else
          %td= model.mgi_ids
        %td= model.entrezgene_ids
        %td= model.uniprot_id
        %td= model.uniprot_acs
        %td= model.comment

- content_for(:title) do
  - if arity.to_s.downcase == 'mono'
    = "Mononucleotide #{species.downcase} motifs - HOmo sapiens COmprehensive MOdel COllection"
  - else
    = "Dinucleotide #{species.downcase} motifs - HOmo sapiens COmprehensive MOdel COllection"
