.table-actions
  - if arity.to_s == 'mono' && core_full_url
    %button.work_as_link.full_core_collection{data: {href: core_full_url} }
      = switch_to_core_full
  %button.reset.resetColumns{type: 'button'} Reset
  %button.select-columns-btn{type: 'button'} Select Columns
  = download_button
  %input{type: "text", value: csv_filename, class: 'csv-filename'}
  .loading_table
    .loading_logo
  .caption= caption(arity: arity, species: species, family_id: family_id, full: is_full, show_full_core_caption: show_full_core_caption)
  #hidden_select_columns

%table#motifs.tablesorter.attach-column-selector{data: {table_group: 'hocomoco-motifs-2015-03-22-14-25', table_page: 'hocomoco-motifs-'+species+'-index-2015-03-22-14-25'}}
  %thead
    %tr
      = motif_table_header :full_name, show_always: true, class: 'motif_name'
      = motif_table_header :logo, dont_sort: true, class: 'sequence_logo filter-false'
      = motif_table_header :gene_names, class: "#{species.downcase}_gene_name"
      = motif_table_header :model_length, data: {placeholder:'>= 20'}
      = motif_table_header(:quality, class: 'filter-match') {|content| (content + help_icon(href: help_path(anchor: 'description_quality_score'), title: (quality_help_text(arity) + " (click the icon for more details)")) ).html_safe }
      = motif_table_header :rank, hide_by_default: true, class: 'rank_dataset_type'
      = motif_table_header :consensus, dont_sort: true, hide_by_default: true, data: {placeholder: 'CA??TG'}
      = motif_table_header :release, hide_by_default: true, class: 'release_number filter-select'
      = motif_table_header :motif_source, hide_by_default: true, class: 'source_dataset_type filter-select'
      = motif_table_header :best_auc_human, hide_by_default: true, class: 'AUC'
      = motif_table_header :best_auc_mouse, hide_by_default: true, class: 'AUC'
      = motif_table_header :num_datasets_human, hide_by_default: true, class: 'num_datasets'
      = motif_table_header :num_datasets_mouse, hide_by_default: true, class: 'num_datasets'
      = motif_table_header :num_words_in_alignment,hide_by_default: true, class: 'num_words_in_alignment'
      = motif_table_header :motif_families, class: 'motif-family'
      = motif_table_header :motif_subfamilies, class: 'motif-subfamily', hide_by_default: true
      - if species == 'HUMAN'
        = motif_table_header :hgnc_ids, dont_sort: true, hide_by_default: true, class: 'hgnc_id'
      - else
        = motif_table_header :mgi_ids, dont_sort: true, hide_by_default: true, class: 'mgi_id'
      = motif_table_header :entrezgene_ids, dont_sort: true, class: 'gene_id'
      = motif_table_header :uniprot_id, class: 'uniprot_id'
      = motif_table_header :uniprot_acs, hide_by_default: true, class: 'uniprot_ac_and_tfclass'

  %tbody
    - models.each do |model|
      %tr
        %td= model.full_name
        %td= model.logo
        %td= model.gene_names
        %td= model.model_length
        %td= model.quality
        %td= model.rank
        %td= model.consensus
        %td= model.release
        %td= model.motif_source
        %td= model.best_auc_human
        %td= model.best_auc_mouse
        %td= model.num_datasets_human
        %td= model.num_datasets_mouse
        %td= model.num_words_in_alignment
        %td= model.motif_families
        %td= model.motif_subfamilies
        - if species == 'HUMAN'
          %td= model.hgnc_ids
        - else
          %td= model.mgi_ids
        %td= model.entrezgene_ids
        %td= model.uniprot_id
        %td= model.uniprot_acs

- content_for(:title) do
  - if arity.to_s.downcase == 'mono'
    = "Mononucleotide #{species.downcase} motifs - HOmo sapiens COmprehensive MOdel COllection"
  - else
    = "Dinucleotide #{species.downcase} motifs - HOmo sapiens COmprehensive MOdel COllection"
