.row
  .col-12
    .table-actions
      .form-inline.motif-table-controls
        - if core_full_url
          %button.work_as_link.full_core_collection.btn.btn-sm.btn-outline-secondary{data: {href: core_full_url} }
            = switch_to_core_full
        %button.btn.btn-sm.btn-outline-secondary.reset.resetColumns.d-none.d-md-inline-block{type: 'button'} Reset
        %button.btn.btn-sm.btn-outline-secondary.select-columns-btn{type: 'button'} Select Columns
        = download_button
        %input.form-control.form-control-sm.csv-filename.d-none.d-md-inline-block{type: "text", value: csv_filename}
        .loading_table
          .loading_logo
        .caption= caption(collection: collection, family_id: family_id, full: is_full, show_full_core_caption: show_full_core_caption)
        #hidden_select_columns
.row
  .col-12
    %table#motifs.tablesorter.attach-column-selector{data: {table_group: 'hocomoco-motifs-2023-09-21-00-26', table_page: "hocomoco-motifs-#{collection}-index-2023-09-21-00-26"}}
      %thead
        %tr
          = motif_table_header :full_name, show_always: true, class: 'motif_name'
          = motif_table_header :logo, dont_sort: true, class: 'sequence_logo filter-false'
          = motif_table_header :gene_name_human, class: 'gene_name'
          = motif_table_header :gene_synonyms_human, hide_by_default: true
          = motif_table_header :gene_name_mouse, class: 'gene_name'
          = motif_table_header :gene_synonyms_mouse, hide_by_default: true
          = motif_table_header :model_length, data: {placeholder:'>= 20'}, hide_by_default: true
          = motif_table_header(:quality, class: 'filter-match') {|content| (content + help_icon(href: help_path(anchor: 'description_quality_score'), title: t((collection == 'H12CORE') ? 'tips.quality_html' : 'tips.quality_html_subcollection'), html: true) ).html_safe }
          = motif_table_header :motif_subtype, class: 'motif_subtype'
          = motif_table_header :consensus, dont_sort: true, hide_by_default: true, data: {placeholder: 'CA??TG'}
          = motif_table_header(:data_sources, class: 'source_dataset_type filter-select'){|content| (content + help_icon(title: t('tips.data_sources_html'), html: true, href: help_path(anchor: 'experimental_data_types'))).html_safe }
          = motif_table_header :num_words_in_alignment, hide_by_default: true, class: 'num_words_in_alignment'
          = motif_table_header :tfclass_superclass, class: 'motif-superclass', hide_by_default: true
          = motif_table_header :tfclass_class, class: 'motif-class', hide_by_default: true
          = motif_table_header :tfclass_family, class: 'motif-family'
          = motif_table_header :tfclass_subfamily, class: 'motif-subfamily', hide_by_default: true
          = motif_table_header :tfclass_id, class: 'tfclass-id', hide_by_default: true
          = motif_table_header :hgnc_ids, dont_sort: true, hide_by_default: true, class: 'hgnc_id'
          = motif_table_header :mgi_ids, dont_sort: true, hide_by_default: true, class: 'mgi_id'
          = motif_table_header :entrezgene_ids_human, dont_sort: true, hide_by_default: true, class: 'gene_id'
          = motif_table_header :entrezgene_ids_mouse, dont_sort: true, hide_by_default: true, class: 'gene_id'
          = motif_table_header :uniprot_id_human, class: 'uniprot_id'
          = motif_table_header :uniprot_id_mouse, class: 'uniprot_id'
          = motif_table_header :uniprot_ac_human, hide_by_default: true, class: 'uniprot_ac_and_tfclass'
          = motif_table_header :uniprot_ac_mouse, hide_by_default: true, class: 'uniprot_ac_and_tfclass'
          = motif_table_header(:greco_db_tf, hide_by_default: true){|content| (content + help_icon(title: t('tips.greco_db_tf_html'), html: true, href: 'https://www.ebi.ac.uk/QuickGO/targetset/dbTF')).html_safe }

      %tbody
        - models.each do |model|
          %tr
            %td= model.full_name(target: '_blank')
            %td= model.logo(target: '_blank', class: 'inline_sequence_logo')
            %td HUMAN:#{model.gene_name_human}
            %td= model.gene_synonyms_human.join(', ')
            %td MOUSE:#{model.gene_name_mouse}
            %td= model.gene_synonyms_mouse.join(', ')
            %td= model.model_length
            %td= model.quality
            %td= model.motif_subtype
            %td= model.consensus
            %td= model.data_sources.chars.join('+')
            %td= model.num_words_in_alignment
            %td= "#{model.tfclass_superclass} {#{ tfclass_family_inner_link(model.tfclass_id_part(1)) }}".html_safe
            %td= "#{model.tfclass_class} {#{ tfclass_family_inner_link(model.tfclass_id_part(2)) }}".html_safe
            %td= "#{model.tfclass_family} {#{ tfclass_family_inner_link(model.tfclass_id_part(3)) }}".html_safe
            %td= "#{model.tfclass_subfamily} {#{ tfclass_family_inner_link(model.tfclass_id_part(4)) }}".html_safe
            %td= model.tfclass_id
            %td= model.hgnc_ids
            %td= model.mgi_ids
            %td= model.entrezgene_ids_human
            %td= model.entrezgene_ids_mouse
            %td= model.uniprot_id_human
            %td= model.uniprot_id_mouse
            %td= model.uniprot_ac_human
            %td= model.uniprot_ac_mouse
            %td= model.greco_db_tf

- content_for(:title) do
  Motifs - HOmo sapiens COmprehensive MOdel COllection
