.table_caption= table_caption

.table-actions
  %button.reset{type: 'button'} Reset filters
  %button.select-columns-btn{type: 'button'} Select Columns
  = download_button
  %input{type: "text", value: csv_filename, class: 'csv-filename'}
  .loading_table
    .loading_logo

%table#motifs.tablesorter.attach-column-selector
  %thead
    %tr
      = table_header 'Motif', show_always: true
      = table_header 'Logo', dont_sort: true, class: 'sequence_logo filter-false'
      = table_header 'Uniprot', class: 'uniprot_id'
      = table_header 'Quality', class: 'filter-match', data: {value:'A to C', placeholder:'A or S'}
      = table_header 'Consensus', dont_sort: true, hide_by_default: true, data: {placeholder: 'CA(C|T|Y)?TG'}
      = table_header 'wAUC', hide_by_default: true, class: 'AUC'
      = table_header 'Max AUC', hide_by_default: true, class: 'AUC'
      = table_header 'Motif family'
      = table_header 'Motif subfamily'
      = table_header 'Comment', dont_sort: true, hide_by_default: true

  %tbody
    - @models.each do |model|
      %tr
        %td= model.full_name
        %td= image_tag(model.direct_logo_path)
        %td= model.uniprot
        %td= model.quality
        %td= model.consensus_string
        %td= model.auc
        %td= model.max_auc
        %td= model.motif_families
        %td= model.motif_subfamilies
        %td= model.comment
