.table_caption Motif info
%table.key_value_info
  %tbody
    = table_info_row @motif, :gene_names, html_options: {value_column_html: {class: 'hgnc_name'} }
    = table_info_row @motif, :full_name #, html_options: {value_column_html: {class: 'motif_name'} }
    = table_info_row @motif, :big_logo, html_options: {value_column_html: {class: 'sequence_logo'} }
    = table_info_row @motif, :big_logo_revcomp, html_options: {value_column_html: {class: 'sequence_logo'} }
    = table_info_row @motif, :model_length
    = table_info_row @motif, :quality
    = table_info_row @motif, :consensus
    = table_info_row @motif, :auc, html_options: {value_column_html: {class: 'AUC'} }
    = table_info_row @motif, :max_auc, html_options: {value_column_html: {class: 'AUC'} }
    = table_info_row @motif, :num_datasets, html_options: {value_column_html: {class: 'num_datasets'} }
    = table_info_row @motif, :motif_families, html_options: {value_column_html: {class: 'motif-family'} }
    = table_info_row @motif, :motif_subfamilies, html_options: {value_column_html: {class: 'motif- subfamily'} }
    - if species == 'HUMAN'
      = table_info_row @motif, :hgnc_ids, html_options: {value_column_html: {class: 'hgnc_id'} }
    - else
      = table_info_row @motif, :mgi_ids, html_options: {value_column_html: {class: 'mgi_id'} }
    = table_info_row @motif, :entrezgene_ids, html_options: {value_column_html: {class: 'gene_id'} }
    = table_info_row @motif, :uniprot_id, html_options: {value_column_html: {class: 'uniprot_id'} }
    = table_info_row @motif, :uniprot_acs, html_options: {value_column_html: {class: 'uniprot_ac'} }
    = table_info_row @motif, :comment
