!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    %link{rel:'canonical', href: (content_for?(:canonical_url) ? yield(:canonical_url) : "https://hocomoco14.autosome.org#{request.original_fullpath}") }/

    %title= content_for?(:title) ? yield(:title) : "HOCOMOCO: HOmo sapiens COmprehensive MOdel COllection"
    - if content_for?(:meta_description)
      %meta{name: 'description', content: yield(:meta_description).strip}
      %meta{name: 'thumbnail', content: yield(:meta_thumbnail).strip}
    %meta{name: 'keywords', content: ['TFBS', 'TF binding motif collection', 'binding motifs', 'transcription factors', 'TF binding motif database', *(content_for?(:meta_keywords) ? yield(:meta_keywords).strip.split(',') : []) ].map(&:strip).join(', ')}
    = csrf_meta_tags
    :plain
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=GT-P3FCQB7K"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'GT-P3FCQB7K');
      </script>

    = stylesheet_link_tag 'application', media: 'all' # sprockets
    = stylesheet_pack_tag 'application', media: 'all' # webpack
    = javascript_pack_tag 'application', defer: true  # webpack
    = javascript_include_tag 'application', defer: true # sprockets (after webpack)

    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'


  %body{data: {'app-prefix' => root_path}}
    / .stop-the-war
    /   We, Russian scientists of the <i>autosome</i> team, are depressed by the dire events 
    /   caused by Russian military actions in Ukraine. 
    /   %br
    /   We express our condolences to all affected people and sincerely hope for a prompt transition to peace.
    %nav.navbar.navbar-light.bg-gray.navbar-expand-lg.py-0
      %a.navbar-brand.ml-0.mr-2{href: root_path}
        %img.hocologo.d-inline-block{src: asset_url("hocomoco_logo_big.png"), alt: 'HOCOMOCO-v14'}
        %span.d-inline-block HOCOMOCO v14
      %button.navbar-toggler{type: 'button', data: {'bs-toggle': 'collapse', 'bs-target': "#navbarNav"}, aria: { controls: "navbarNav", expanded: "false", label: "Toggle navigation" }}
        %span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarNav
        %ul.navbar-nav.px-1.mb-2.mb-lg-0.align-items-lg-end
          %li.nav-item
            %a.nav-link{href: motifs_path(collection: 'H14CORE')} Browse
          %li.nav-item.dropdown
            %a.nav-link.dropdown-toggle.text-right{href:"#", role: "button", data: {'bs-toggle': "dropdown"}}
              Subcollections
            .dropdown-menu
              / `'true'` in  `html: 'true'` should be as string, not boolean!
              %a.dropdown-item.has-tooltip{href: motifs_path(collection: 'H14INVIVO'), data: { 'bs-toggle': 'tooltip', 'bs-placement': 'right', 'bs-title': t('tips.hocomoco_invivo'), 'bs-html': 'true'}}
                HOCOMOCO-invivo
              %a.dropdown-item.has-tooltip{href: motifs_path(collection: 'H14INVITRO'), data: { 'bs-toggle': 'tooltip', 'bs-placement': 'right', 'bs-title': t('tips.hocomoco_invitro'), 'bs-html': 'true'}}
                HOCOMOCO-invitro
              %a.dropdown-item.has-tooltip{href: motifs_path(collection: 'H14RSNP'), data: { 'bs-toggle': 'tooltip', 'bs-placement': 'right', 'bs-title': t('tips.hocomoco_rsnp')}}
                HOCOMOCO-rSNP
              .dropdown-divider
              %a.dropdown-item.has-tooltip{href: motif_clusters_path, data: { 'bs-toggle': 'tooltip', 'bs-placement': 'right', 'bs-title': t('tips.hocomoco_clustered')}}
                HOCOMOCO non-redundant
          %li.nav-item.dropdown
            %a.nav-link.dropdown-toggle.text-right{href:"#", role: "button", data: {'bs-toggle': "dropdown"}}
              Tools
            .dropdown-menu
              %a.dropdown-item.has-tooltip{href: ENV['MOLOTOOL_URL'], data: { 'bs-toggle': 'tooltip', 'bs-placement': 'right', 'bs-title': 'MoLoTool: visual motif finding in short sequences'}}
                MoLoTool
              %a.dropdown-item.has-tooltip{href: ENV['MACROAPE_URL'], data: { 'bs-toggle': 'tooltip', 'bs-placement': 'right', 'bs-title': 'MACRO-APE: model comparison and search for similar motifs'}}
                MACRO-APE
              %a.dropdown-item.has-tooltip{href: ENV['PERFECTOSAPE_URL'], data: { 'bs-toggle': 'tooltip', 'bs-placement': 'right', 'bs-title': 'PERFECTOS-APE: functional annotation of rSNPs'}}
                PERFECTOS-APE
          %li.nav-item.dropdown
            %a.nav-link.dropdown-toggle.text-right{href:"#", role: "button", data: {'bs-toggle': "dropdown"}}
              Downloads
            .dropdown-menu
              %a.dropdown-item{href: downloads_v14_path} HOCOMOCO v14
              %a.dropdown-item{href: downloads_v13_path} HOCOMOCO v13
              %a.dropdown-item{href: downloads_v12_path} HOCOMOCO v12
              %a.dropdown-item{href: downloads_v11_path} HOCOMOCO v11
              %a.dropdown-item{href: downloads_v10_path} HOCOMOCO v10
              %a.dropdown-item{href: 'https://github.com/autosome-ru/hocomoco_v9'} HOCOMOCO v9
          %li.nav-item
            %a.nav-link{href: help_path} Help
          %li.nav-item
            %a.nav-link{href: faq_path} FAQ

          / - if @collection
          /   %li.nav-item.ml-auto
          /     %img.species-indicator.mr-2{src: asset_url("#{@collection}_sel.png")}

          %li.nav-item{class: @collection ? '' : 'ms-auto'}
            %form.navbar-search.align-items-end.d-flex.gap-2{action: search_post_path, method: 'POST'}
              %input.form-control{type:"search", placeholder: "Search", name: 'query', value: params[:query]}
              %input{type: 'hidden', name: 'collection', value: 'H14CORE'}
              / = select_tag 'collection', options_for_select({'Core' => 'H14CORE', 'In vivo' => 'H14INVIVO', 'In vitro' => 'H14INVITRO', 'rSNP' => 'H14RSNP'},  params.fetch(:collection, 'H14CORE')), {class: 'form-select mr-2'}
              %button.btn.btn-hocomoco-search.btn-outline-secondary{type: "submit"} Search

    %div{class: ['container-fluid', "controller-#{params[:controller]}", "action-#{params[:action]}"] }
      = yield
    / %footer
    /   .grant Supported by RSF grant 20-74-10075.
