!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    %title= content_for?(:title) ? yield(:title) : "HOmo sapiens COmprehensive MOdel COllection"
    - if content_for?(:meta_description)
      %meta{name: 'description', content: yield(:meta_description)}
      %meta{name: 'thumbnail', content: yield(:meta_thumbnail)}
    = csrf_meta_tags
    :plain
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-27550943-2"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-27550943-2');
      </script>

    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = javascript_include_tag "application"


  %body{data: {'app-prefix' => root_path}}
    / .stop-the-war
    /   We, Russian scientists of the <i>autosome</i> team, are depressed by the dire events 
    /   caused by Russian military actions in Ukraine. 
    /   %br
    /   We express our condolences to all affected people and sincerely hope for a prompt transition to peace.
    %nav.navbar.navbar-light.bg-gray.navbar-expand-lg.py-0
      %a.navbar-brand.ml-0.mr-2{href: root_path}
        %img.hocologo.d-inline-block{src: asset_url("hocomoco_logo_big.png")}
        %span.d-inline-block HOCOMOCO v12
      %button.navbar-toggler{type: 'button', data: {toggle: 'collapse', target: "#navbarNav"}}
        / aria: {controls: 'navbarTogglerDemo03' expanded: 'false', label: 'Toggle navigation'}
        %span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarNav
        %ul.navbar-nav.px-1.d-flex.align-items-end
          %li.nav-item
            %a.nav-link{href: motifs_path(collection: 'H12CORE')} Browse
          / %li.nav-item.dropdown
          /   %a.nav-link.dropdown-toggle.text-right{href:"#", role: "button", data: {toggle:"dropdown"}}
          /     TF Collection
          /   .dropdown-menu
          /     %a.dropdown-item.has-tooltip{href: motifs_path(collection: 'H12CORE'), data: { toggle: 'tooltip', placement: 'right', title: 'Set of universal binding models'}}
          /       Main collection
          /     %a.dropdown-item.has-tooltip{href: motifs_path(collection: 'H12INVIVO'), data: { toggle: 'tooltip', placement: 'right', title: 'Set of binding models best for in vivo data'}}
          /       In vivo collection
          /     %a.dropdown-item.has-tooltip{href: motifs_path(collection: 'H12INVITRO'), data: { toggle: 'tooltip', placement: 'right', title: 'Set of binding models best for in vitro data'}}
          /       In vitro collection
          /     %a.dropdown-item.has-tooltip{href: motifs_path(collection: 'H12RSNP'), data: { toggle: 'tooltip', placement: 'right', title: 'Set of binding models best for measuring regulatory SNP effects'}}
          /       rSNP collection
          %li.nav-item.dropdown
            %a.nav-link.dropdown-toggle.text-right{href:"#", role: "button", data: {toggle:"dropdown"}}
              Tools
            .dropdown-menu
              %a.dropdown-item.has-tooltip{href: ENV['MOLOTOOL_URL'], data: { toggle: 'tooltip', placement: 'right', title: 'MoLoTool: visual motif finding in short sequences.'}}
                MoLoTool
              %a.dropdown-item.has-tooltip{href: ENV['MACROAPE_URL'], data: { toggle: 'tooltip', placement: 'right', title: 'MACRO-APE: model comparison and search for similar motifs.'}}
                MACRO-APE
              %a.dropdown-item.has-tooltip{href: ENV['PERFECTOSAPE_URL'], data: { toggle: 'tooltip', placement: 'right', title: 'PERFECTOS-APE: functional annotation of rSNPs.'}}
                PERFECTOS-APE
          %li.nav-item.dropdown
            %a.nav-link.dropdown-toggle.text-right{href:"#", role: "button", data: {toggle:"dropdown"}}
              Downloads
            .dropdown-menu
              %a.dropdown-item{href: downloads_v12_path} HOCOMOCO v12
              %a.dropdown-item{href: downloads_v11_path} HOCOMOCO v11
              %a.dropdown-item{href: downloads_v10_path} HOCOMOCO v10
              %a.dropdown-item{href: 'http://autosome.org/HOCOMOCOS/'} HOCOMOCO v9
          %li.nav-item
            %a.nav-link{href: help_path} Help
          %li.nav-item
            %a.nav-link{href: faq_path} FAQ

          / - if @collection
          /   %li.nav-item.ml-auto
          /     %img.species-indicator.mr-2{src: asset_url("#{@collection}_sel.png")}

          %li.nav-item{class: @collection ? '' : 'ml-auto'}
            %form.form-inline.navbar-search.align-items-end{action: search_post_path, method: 'POST'}
              %input.form-control.mr-sm-2{type:"search", placeholder: "Search", name: 'query', value: params[:query]}
              %input{type: 'hidden', name: 'collection', value: 'H12CORE'}
              / = select_tag 'collection', options_for_select({'Core' => 'H12CORE', 'In vivo' => 'H12INVIVO', 'In vitro' => 'H12INVITRO', 'rSNP' => 'H12RSNP'},  params.fetch(:collection, 'H12CORE')), {class: 'custom-select mr-2'}
              %button.btn.btn-hocomoco-search.btn-outline-secondary{type: "submit"} Search

    %div{class: ['container-fluid', "controller-#{params[:controller]}", "action-#{params[:action]}"] }
      = yield
    %footer
      .grant Supported by RSF grant 20-74-10075.
