!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "HOmo sapiens COmprehensive MOdel COllection"
    = csrf_meta_tags
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-27550943-2', 'auto');
      ga('send', 'pageview');

    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"


  %body{data: {'app-prefix' => root_path}}
    %header
      = nav_bar do
        = menu_group do
          = link_to root_path do
            .hocologo.pull-left
          .navbar-brand HOCOMOCO
        = menu_group do
          = drop_down 'Home' do
            = menu_item 'Human', root_path
            = menu_item 'Mouse', root_path(species: 'mouse')
          = drop_down 'Human TFs' do
            = menu_item 'Mononucleotide models', motifs_path(species: 'human', arity: 'mono')
            = menu_item 'Dinucleotide models', motifs_path(species: 'human', arity: 'di')
          = drop_down 'Mouse TFs' do
            = menu_item 'Mononucleotide models', motifs_path(species: 'mouse', arity: 'mono')
            = menu_item 'Dinucleotide models', motifs_path(species: 'mouse', arity: 'di')
          = drop_down 'Downloads' do
            = menu_item 'HOCOMOCO v10', downloads_path
            = menu_item 'HOCOMOCO v9', 'http://autosome.ru/HOCOMOCOS/'
          = menu_item 'Help', help_path
        = form_tag search_post_path, class: 'pull-right navbar-search' do
          = hidden_field_tag 'arity', 'mono'
          = hidden_field_tag 'species', 'human'
          = label_tag do
            Search:
            = text_field_tag 'query', params[:query]

          = select_tag 'kind', options_for_select({'Human PWMs' => 'human;mono', 'Human di-PWMs' => 'human;di', 'Mouse PWMs' => 'mouse;mono', 'Mouse di-PWMs' => 'mouse;di'},  ['human;mono', 'human;di', 'mouse;mono', 'mouse;di'].include?("#{params[:species].try(&:downcase)};#{params[:arity].try(&:downcase)}") ? "#{params[:species].try(&:downcase)};#{params[:arity].try(&:downcase)}" : 'human;mono')
          = submit_tag 'Search'


    %div{class: ['container', "controller-#{params[:controller]}", "action-#{params[:action]}"] }
      = yield
    %footer
      .grant Supported by RFBR grants 16-34-01318, 15-34-20423, 14-04-01838 and RSF grant 14-50-00060.
