!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "HocomocoSite"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"


  %body
    %header
      = nav_bar do
        = menu_group do
          %a.navbar-brand(href="#") HOCOMOCO
          -# = link_to root_path, class: 'hocomoco_logo' do
          -#   image_tag 'hocomoco_logo.png'
        = menu_group do
          = drop_down 'Human' do
            = menu_item 'Mononucleotide models', motifs_path(species: 'human', arity: 'mono')
            = menu_item 'Dinucleotide models', motifs_path(species: 'human', arity: 'di')
          = drop_down 'Mouse' do
            = menu_item 'Mononucleotide models', motifs_path(species: 'mouse', arity: 'mono')
            = menu_item 'Dinucleotide models', motifs_path(species: 'mouse', arity: 'di')

        = form_tag search_path, class: 'pull-right navbar-search' do
          = label_tag do
            Search:
            = text_field_tag 'search', params[:search]
          = submit_tag 'Search'

    %div{class: ['container', "controller-#{params[:controller]}", "action-#{params[:action]}"] }
      = yield
    %footer